In [3]:
import numpy as np
import pandas as pd

In [15]:
z = np.array([1,2,3,4,np.nan,5,3,6])
z = pd.Series(z)
z

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    3.0
7    6.0
dtype: float64

In [16]:
z.mode()

0    3.0
dtype: float64

In [17]:
z.value_counts()

3.0    2
1.0    1
2.0    1
4.0    1
5.0    1
6.0    1
Name: count, dtype: int64

In [18]:
z > 2

0    False
1    False
2     True
3     True
4    False
5     True
6     True
7     True
dtype: bool

In [19]:
z[z > 2]

2    3.0
3    4.0
5    5.0
6    3.0
7    6.0
dtype: float64

In [20]:
z + 10

0    11.0
1    12.0
2    13.0
3    14.0
4     NaN
5    15.0
6    13.0
7    16.0
dtype: float64

In [22]:
(z > 2).sum()

np.int64(5)

In [23]:
z.isna()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
dtype: bool

In [24]:
z.isnull()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
dtype: bool

In [ ]:
z.unique()

array([ 1.,  2.,  3.,  4., nan,  5.,  6.])

In [28]:
from faker import Faker

fk = Faker(["En_In", "Gu_In"])

In [29]:
d = {
    "name": [fk.name() for i in range(10)],
    "age": np.random.randint(20, 30, 10)
}

In [34]:
s_name = pd.Series(names)
s_age = pd.Series(ages)

df = pd.DataFrame([s_name, s_age])
df

,0,1,2,3,4,5,6,7,8,9
0,શ્રી કુમાર જૈન,કુમારી સમીર જોષી,શ્રી માન પૂજા જોષી,Azaan Ramesh,Dalbir Borra,Nidra Deol,Warjas Bawa,કૃષ્ણ પટેલ,Barkha Babu,Sathvik Sengupta
1,21,21,23,21,23,22,28,26,28,27

In [35]:
names = np.array([fk.name() for i in range(10)])
ages =  np.random.randint(20, 30, 10)

In [36]:
name = pd.DataFrame(names)
age = pd.DataFrame(ages)

In [37]:
df = pd.concat([name, age], axis = 1)
df.columns = ["Name", "Age"]
df

                   Name  Age
0           કૃષ્ણ ચૌધરી   20
1        Arunima Shenoy   27
2           વિશાલ કુમાર   25
3         Kamala Parmer   24
4           રાજેશ ચૌધરી   23
5         Harini Chadha   27
6        Lakshmi Thaman   20
7             અનિલ જોષી   27
8    શ્રીમતી દીપક ચૌધરી   24
9  શ્રી માન દર્શન ચૌધરી   25

In [38]:
pd.DataFrame(data = {"Name": names,
                     "Age": ages})

                   Name  Age
0           કૃષ્ણ ચૌધરી   20
1        Arunima Shenoy   27
2           વિશાલ કુમાર   25
3         Kamala Parmer   24
4           રાજેશ ચૌધરી   23
5         Harini Chadha   27
6        Lakshmi Thaman   20
7             અનિલ જોષી   27
8    શ્રીમતી દીપક ચૌધરી   24
9  શ્રી માન દર્શન ચૌધરી   25

In [39]:
names = np.array([fk.name() for i in range(10)])
ages =  np.random.randint(20, 30, 10)

data = [[names[i], ages[i]] for i in range(10)]
pd.DataFrame(data = data, columns = ["Name", "Age"])

                  Name  Age
0        Krish Sridhar   22
1           મહેશ ચૌધરી   27
2  શ્રીમતી રમેશ ગુપ્તા   22
3         Harsh Grewal   21
4          Udarsh Kaul   20
5             Kai Shah   22
6         વિરાજ ગુપ્તા   25
7    Ekaja Subramanian   29
8   શ્રીમતી હીરા કુમાર   26
9          Dalbir Kant   20

In [48]:
df = pd.read_clipboard()
df

ParserError: Expected 7 fields in line 3, saw 11. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [78]:
df = pd.read_json("../python/files/json/fakestoreapi.json")
# df = df.drop(columns = ['category', 'image'])

df.drop(columns = ['description', 'rating'], inplace = True)
df

,id,title,price,category,image
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2,3,Mens Cotton Jacket,55.99,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
3,4,Mens Casual Slim Fit,15.99,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...
5,6,Solid Gold Petite Micropave,168.00,jewelery,https://fakestoreapi.com/img/61sbMiUnoGL._AC_U...
6,7,White Gold Plated Princess,9.99,jewelery,https://fakestoreapi.com/img/71YAIFU48IL._AC_U...
7,8,Pierced Owl Rose Gold Plated Stainless Steel D...,10.99,jewelery,https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...
8,9,WD 2TB Elements Portable External Hard Drive -...,64.00,electronics,https://fakestoreapi.com/img/61IBBVJvSDL._AC_S...
9,10,SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...,109.00,electronics,https://fakestoreapi.com/img/61U7T1koQqL._AC_S...
10,11,Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...,109.00,electronics,https://fakestoreapi.com/img/71kWymZ+c+L._AC_S...
11,12,WD 4TB Gaming Drive Works with Playstation 4 P...,114.00,electronics,https://fakestoreapi.com/img/61mtL65D4cL._AC_S...
12,13,Acer SB220Q bi 21.5 inches Full HD (1920 x 108...,599.00,electronics,https://fakestoreapi.com/img/81QpkIctqPL._AC_S...
13,14,Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...,999.99,electronics,https://fakestoreapi.com/img/81Zt42ioCgL._AC_S...
14,15,BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...,56.99,women's clothing,https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...
15,16,Lock and Love Women's Removable Hooded Faux Le...,29.95,women's clothing,https://fakestoreapi.com/img/81XH0e8fefL._AC_U...
16,17,Rain Jacket Women Windbreaker Striped Climbing...,39.99,women's clothing,https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
17,18,MBJ Women's Solid Short Sleeve Boat Neck V,9.85,women's clothing,https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
18,19,Opna Women's Short Sleeve Moisture,7.95,women's clothing,https://fakestoreapi.com/img/51eg55uWmdL._AC_U...
19,20,DANVOUY Womens T Shirt Casual Cotton Short,12.99,women's clothing,https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...

In [79]:
df.head()

,id,title,price,category,image
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2,3,Mens Cotton Jacket,55.99,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
3,4,Mens Casual Slim Fit,15.99,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...

In [80]:
df.head(10)

,id,title,price,category,image
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2,3,Mens Cotton Jacket,55.99,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
3,4,Mens Casual Slim Fit,15.99,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...
5,6,Solid Gold Petite Micropave,168.00,jewelery,https://fakestoreapi.com/img/61sbMiUnoGL._AC_U...
6,7,White Gold Plated Princess,9.99,jewelery,https://fakestoreapi.com/img/71YAIFU48IL._AC_U...
7,8,Pierced Owl Rose Gold Plated Stainless Steel D...,10.99,jewelery,https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...
8,9,WD 2TB Elements Portable External Hard Drive -...,64.00,electronics,https://fakestoreapi.com/img/61IBBVJvSDL._AC_S...
9,10,SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...,109.00,electronics,https://fakestoreapi.com/img/61U7T1koQqL._AC_S...

In [81]:
df.tail()

,id,title,price,category,image
15,16,Lock and Love Women's Removable Hooded Faux Le...,29.95,women's clothing,https://fakestoreapi.com/img/81XH0e8fefL._AC_U...
16,17,Rain Jacket Women Windbreaker Striped Climbing...,39.99,women's clothing,https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
17,18,MBJ Women's Solid Short Sleeve Boat Neck V,9.85,women's clothing,https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
18,19,Opna Women's Short Sleeve Moisture,7.95,women's clothing,https://fakestoreapi.com/img/51eg55uWmdL._AC_U...
19,20,DANVOUY Womens T Shirt Casual Cotton Short,12.99,women's clothing,https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...

In [82]:
df.tail(8)

,id,title,price,category,image
12,13,Acer SB220Q bi 21.5 inches Full HD (1920 x 108...,599.00,electronics,https://fakestoreapi.com/img/81QpkIctqPL._AC_S...
13,14,Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...,999.99,electronics,https://fakestoreapi.com/img/81Zt42ioCgL._AC_S...
14,15,BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...,56.99,women's clothing,https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...
15,16,Lock and Love Women's Removable Hooded Faux Le...,29.95,women's clothing,https://fakestoreapi.com/img/81XH0e8fefL._AC_U...
16,17,Rain Jacket Women Windbreaker Striped Climbing...,39.99,women's clothing,https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
17,18,MBJ Women's Solid Short Sleeve Boat Neck V,9.85,women's clothing,https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
18,19,Opna Women's Short Sleeve Moisture,7.95,women's clothing,https://fakestoreapi.com/img/51eg55uWmdL._AC_U...
19,20,DANVOUY Womens T Shirt Casual Cotton Short,12.99,women's clothing,https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...

In [87]:
print(f'columns = {df.columns}')
print(f'shape = {df.shape}')
print(f'index = {df.index}')
print(f'unique = {df["price"].unique()}')
print(f'value_counts = {df["category"].value_counts()}')
print(f'info = {df.info()}')
print(f'describe = {df.describe()}')

columns = Index(['id', 'title', 'price', 'category', 'image'], dtype='object')
shape = (20, 5)
index = RangeIndex(start=0, stop=20, step=1)
unique = [109.95  22.3   55.99  15.99 695.   168.     9.99  10.99  64.   109.
 114.   599.   999.99  56.99  29.95  39.99   9.85   7.95  12.99]
value_counts = category
women's clothing    6
electronics         6
jewelery            4
men's clothing      4
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        20 non-null     int64
 1   title     20 non-null     object
 2   price     20 non-null     float64
 3   category  20 non-null     object
 4   image     20 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 932.0+ bytes
info = None
describe =              id       price
count  20.00000   20.000000
mean   10.50000  162.046000
std     5.91608  272.220532
min     1.00000    7.950000
25%     5.75000   15.240000
50%    10.50000   56.490000
75%    15.25000  110.962500
max    20.00000  999.990000