In [2]:
import numpy as np
import pandas as pd

In [15]:
z = np.array([1,2,3,4,np.nan,5,3,6])
z = pd.Series(z)
z

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    3.0
7    6.0
dtype: float64

In [16]:
z.mode()

0    3.0
dtype: float64

In [17]:
z.value_counts()

3.0    2
1.0    1
2.0    1
4.0    1
5.0    1
6.0    1
Name: count, dtype: int64

In [18]:
z > 2

0    False
1    False
2     True
3     True
4    False
5     True
6     True
7     True
dtype: bool

In [19]:
z[z > 2]

2    3.0
3    4.0
5    5.0
6    3.0
7    6.0
dtype: float64

In [20]:
z + 10

0    11.0
1    12.0
2    13.0
3    14.0
4     NaN
5    15.0
6    13.0
7    16.0
dtype: float64

In [22]:
(z > 2).sum()

np.int64(5)

In [23]:
z.isna()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
dtype: bool

In [24]:
z.isnull()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
dtype: bool

In [ ]:
z.unique()

array([ 1.,  2.,  3.,  4., nan,  5.,  6.])

In [26]:
from faker import Faker

fk = Faker(["En_In", "Hi_In"])

In [28]:
d = {
    "name": [fk.name() for i in range(10)],
    "age": np.random.randint(20, 30, 10)
}

In [29]:
pd.DataFrame(d)

              name  age
0   Anya Choudhary   26
1     गौहर शर्माजी   23
2        ऋषि दासजी   24
3     Advaith Gour   24
4     Shivani Bawa   22
5       Ladli Bora   26
6    Advay Prashad   25
7       Rishi Sule   26
8  अदिती मुख़र्जीजी   26
9     Kalpit Raval   29