In [3]:
import numpy as np
import pandas as pd

In [15]:
z = np.array([1,2,3,4,np.nan,5,3,6])
z = pd.Series(z)
z

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    3.0
7    6.0
dtype: float64

In [16]:
z.mode()

0    3.0
dtype: float64

In [17]:
z.value_counts()

3.0    2
1.0    1
2.0    1
4.0    1
5.0    1
6.0    1
Name: count, dtype: int64

In [18]:
z > 2

0    False
1    False
2     True
3     True
4    False
5     True
6     True
7     True
dtype: bool

In [19]:
z[z > 2]

2    3.0
3    4.0
5    5.0
6    3.0
7    6.0
dtype: float64

In [20]:
z + 10

0    11.0
1    12.0
2    13.0
3    14.0
4     NaN
5    15.0
6    13.0
7    16.0
dtype: float64

In [22]:
(z > 2).sum()

np.int64(5)

In [23]:
z.isna()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
dtype: bool

In [24]:
z.isnull()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
dtype: bool

In [ ]:
z.unique()

array([ 1.,  2.,  3.,  4., nan,  5.,  6.])

In [2]:
import numpy as np
import pandas as pd
from faker import Faker

fk = Faker(["En_In", "Gu_In"])

In [8]:
d = {
    "name": [fk.name() for i in range(10)],
    "age": np.random.randint(20, 30, 10)
}

df = pd.DataFrame(data = d)
df

                  name  age
0         Chaman Memon   27
1           અરુણ શર્મા   24
2         Ekta Mahajan   24
3       શ્રી અંકિત જૈન   28
4   કુમારી ચેતન ગુપ્તા   20
5      શ્રી અવની શર્મા   26
6            Rohan Som   28
7  Chanakya Brahmbhatt   27
8       Bhavini Bhasin   22
9   શ્રીમતી સંજીવ ગઢવી   24

In [5]:
names = [fk.name() for i in range(10)]
ages = [np.random.randint(10,30) for i in range(10)]

In [34]:
s_name = pd.Series(names)
s_age = pd.Series(ages)

df = pd.DataFrame([s_name, s_age])
df

,0,1,2,3,4,5,6,7,8,9
0,શ્રી કુમાર જૈન,કુમારી સમીર જોષી,શ્રી માન પૂજા જોષી,Azaan Ramesh,Dalbir Borra,Nidra Deol,Warjas Bawa,કૃષ્ણ પટેલ,Barkha Babu,Sathvik Sengupta
1,21,21,23,21,23,22,28,26,28,27

In [35]:
names = np.array([fk.name() for i in range(10)])
ages =  np.random.randint(20, 30, 10)

In [36]:
name = pd.DataFrame(names)
age = pd.DataFrame(ages)

In [37]:
df = pd.concat([name, age], axis = 1)
df.columns = ["Name", "Age"]
df

                   Name  Age
0           કૃષ્ણ ચૌધરી   20
1        Arunima Shenoy   27
2           વિશાલ કુમાર   25
3         Kamala Parmer   24
4           રાજેશ ચૌધરી   23
5         Harini Chadha   27
6        Lakshmi Thaman   20
7             અનિલ જોષી   27
8    શ્રીમતી દીપક ચૌધરી   24
9  શ્રી માન દર્શન ચૌધરી   25

In [38]:
pd.DataFrame(data = {"Name": names,
                     "Age": ages})

                   Name  Age
0           કૃષ્ણ ચૌધરી   20
1        Arunima Shenoy   27
2           વિશાલ કુમાર   25
3         Kamala Parmer   24
4           રાજેશ ચૌધરી   23
5         Harini Chadha   27
6        Lakshmi Thaman   20
7             અનિલ જોષી   27
8    શ્રીમતી દીપક ચૌધરી   24
9  શ્રી માન દર્શન ચૌધરી   25

In [39]:
names = np.array([fk.name() for i in range(10)])
ages =  np.random.randint(20, 30, 10)

data = [[names[i], ages[i]] for i in range(10)]
pd.DataFrame(data = data, columns = ["Name", "Age"])

                  Name  Age
0        Krish Sridhar   22
1           મહેશ ચૌધરી   27
2  શ્રીમતી રમેશ ગુપ્તા   22
3         Harsh Grewal   21
4          Udarsh Kaul   20
5             Kai Shah   22
6         વિરાજ ગુપ્તા   25
7    Ekaja Subramanian   29
8   શ્રીમતી હીરા કુમાર   26
9          Dalbir Kant   20

In [48]:
df = pd.read_clipboard()
df

ParserError: Expected 7 fields in line 3, saw 11. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [78]:
df = pd.read_json("../python/files/json/fakestoreapi.json")
# df = df.drop(columns = ['category', 'image'])

df.drop(columns = ['description', 'rating'], inplace = True)
df

,id,title,price,category,image
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2,3,Mens Cotton Jacket,55.99,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
3,4,Mens Casual Slim Fit,15.99,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...
5,6,Solid Gold Petite Micropave,168.00,jewelery,https://fakestoreapi.com/img/61sbMiUnoGL._AC_U...
6,7,White Gold Plated Princess,9.99,jewelery,https://fakestoreapi.com/img/71YAIFU48IL._AC_U...
7,8,Pierced Owl Rose Gold Plated Stainless Steel D...,10.99,jewelery,https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...
8,9,WD 2TB Elements Portable External Hard Drive -...,64.00,electronics,https://fakestoreapi.com/img/61IBBVJvSDL._AC_S...
9,10,SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...,109.00,electronics,https://fakestoreapi.com/img/61U7T1koQqL._AC_S...
10,11,Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...,109.00,electronics,https://fakestoreapi.com/img/71kWymZ+c+L._AC_S...
11,12,WD 4TB Gaming Drive Works with Playstation 4 P...,114.00,electronics,https://fakestoreapi.com/img/61mtL65D4cL._AC_S...
12,13,Acer SB220Q bi 21.5 inches Full HD (1920 x 108...,599.00,electronics,https://fakestoreapi.com/img/81QpkIctqPL._AC_S...
13,14,Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...,999.99,electronics,https://fakestoreapi.com/img/81Zt42ioCgL._AC_S...
14,15,BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...,56.99,women's clothing,https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...
15,16,Lock and Love Women's Removable Hooded Faux Le...,29.95,women's clothing,https://fakestoreapi.com/img/81XH0e8fefL._AC_U...
16,17,Rain Jacket Women Windbreaker Striped Climbing...,39.99,women's clothing,https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
17,18,MBJ Women's Solid Short Sleeve Boat Neck V,9.85,women's clothing,https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
18,19,Opna Women's Short Sleeve Moisture,7.95,women's clothing,https://fakestoreapi.com/img/51eg55uWmdL._AC_U...
19,20,DANVOUY Womens T Shirt Casual Cotton Short,12.99,women's clothing,https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...

In [79]:
df.head()

,id,title,price,category,image
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2,3,Mens Cotton Jacket,55.99,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
3,4,Mens Casual Slim Fit,15.99,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...

In [80]:
df.head(10)

,id,title,price,category,image
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2,3,Mens Cotton Jacket,55.99,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
3,4,Mens Casual Slim Fit,15.99,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...
5,6,Solid Gold Petite Micropave,168.00,jewelery,https://fakestoreapi.com/img/61sbMiUnoGL._AC_U...
6,7,White Gold Plated Princess,9.99,jewelery,https://fakestoreapi.com/img/71YAIFU48IL._AC_U...
7,8,Pierced Owl Rose Gold Plated Stainless Steel D...,10.99,jewelery,https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...
8,9,WD 2TB Elements Portable External Hard Drive -...,64.00,electronics,https://fakestoreapi.com/img/61IBBVJvSDL._AC_S...
9,10,SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...,109.00,electronics,https://fakestoreapi.com/img/61U7T1koQqL._AC_S...

In [81]:
df.tail()

,id,title,price,category,image
15,16,Lock and Love Women's Removable Hooded Faux Le...,29.95,women's clothing,https://fakestoreapi.com/img/81XH0e8fefL._AC_U...
16,17,Rain Jacket Women Windbreaker Striped Climbing...,39.99,women's clothing,https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
17,18,MBJ Women's Solid Short Sleeve Boat Neck V,9.85,women's clothing,https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
18,19,Opna Women's Short Sleeve Moisture,7.95,women's clothing,https://fakestoreapi.com/img/51eg55uWmdL._AC_U...
19,20,DANVOUY Womens T Shirt Casual Cotton Short,12.99,women's clothing,https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...

In [82]:
df.tail(8)

,id,title,price,category,image
12,13,Acer SB220Q bi 21.5 inches Full HD (1920 x 108...,599.00,electronics,https://fakestoreapi.com/img/81QpkIctqPL._AC_S...
13,14,Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...,999.99,electronics,https://fakestoreapi.com/img/81Zt42ioCgL._AC_S...
14,15,BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...,56.99,women's clothing,https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...
15,16,Lock and Love Women's Removable Hooded Faux Le...,29.95,women's clothing,https://fakestoreapi.com/img/81XH0e8fefL._AC_U...
16,17,Rain Jacket Women Windbreaker Striped Climbing...,39.99,women's clothing,https://fakestoreapi.com/img/71HblAHs5xL._AC_U...
17,18,MBJ Women's Solid Short Sleeve Boat Neck V,9.85,women's clothing,https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...
18,19,Opna Women's Short Sleeve Moisture,7.95,women's clothing,https://fakestoreapi.com/img/51eg55uWmdL._AC_U...
19,20,DANVOUY Womens T Shirt Casual Cotton Short,12.99,women's clothing,https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...

In [87]:
print(f'columns = {df.columns}')
print(f'shape = {df.shape}')
print(f'index = {df.index}')
print(f'unique = {df["price"].unique()}')
print(f'value_counts = {df["category"].value_counts()}')
print(f'info = {df.info()}')
print(f'describe = {df.describe()}')

columns = Index(['id', 'title', 'price', 'category', 'image'], dtype='object')
shape = (20, 5)
index = RangeIndex(start=0, stop=20, step=1)
unique = [109.95  22.3   55.99  15.99 695.   168.     9.99  10.99  64.   109.
 114.   599.   999.99  56.99  29.95  39.99   9.85   7.95  12.99]
value_counts = category
women's clothing    6
electronics         6
jewelery            4
men's clothing      4
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        20 non-null     int64
 1   title     20 non-null     object
 2   price     20 non-null     float64
 3   category  20 non-null     object
 4   image     20 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 932.0+ bytes
info = None
describe =              id       price
count  20.00000   20.000000
mean   10.50000  162.046000
std     5.91608  272.220532
min     1.00000    7.950000
25%     5.75000   15.240000
50%    10.50000   56.490000
75%    15.25000  110.962500
max    20.00000  999.990000

In [5]:
import numpy as np
import pandas as pd
from datetime import datetime
from faker import Faker

fk = Faker(["En_In", "Gu_In"])

In [38]:
data = {
    "first_name" : [],
    "last_name"  : [],
    "email" : [],
    "city" : [],
    "ordered_amount" : [],
    "joined_date" : [],
}

for i in range(100000):
    data["first_name"].append(fk.first_name())
    data["last_name"].append(fk.last_name())
    data["email"].append(fk.email())
    data["city"].append(fk.city())
    data["ordered_amount"].append(np.random.randint(0,100))
    data["joined_date"].append(fk.date_between(end_date = datetime.now()))

In [39]:
df = pd.DataFrame(data = data)
df.head()

,first_name,last_name,email,city,ordered_amount,joined_date
0,યશ,જૈન,eshanasarkar@example.com,New બ્રિજેશ,93,2003-12-25
1,Bhavna,ગુપ્તા,doctorxavier@example.org,New અશોક,89,2020-07-01
2,સમીર,Bhagat,priiticaudhrii@example.net,Aizawl,54,2023-10-18
3,અંકિત,Kaur,suhani29@example.com,સુનીલhaven,88,2000-02-04
4,David,Magar,tnvii64@example.net,શર્માfort,62,2012-02-07

In [40]:
df['ordered_amount'] = df['ordered_amount'].astype('float64')

In [41]:
df['joined_date'] = pd.to_datetime(df['joined_date'])

In [42]:
df['Month_name'] = df['joined_date'].dt.month_name()

In [66]:
emails = []
for email in df['email']:
    domain = email[-11:]
    
    if domain == 'example.com':
        emails.append(email.replace('example.com', 'google.com'))
    elif domain == 'example.net':
        emails.append(email.replace('example.net', 'mailgun.net'))
    elif domain == 'example.org':
        emails.append(email.replace('example.org', 'mailbox.org'))
    else:
        emails.append(email)
        
emails

['eshanasarkar@google.com',
 'doctorxavier@mailbox.org',
 'priiticaudhrii@mailgun.net',
 'suhani29@google.com',
 'tnvii64@mailgun.net',
 'jossiidiipk@mailgun.net',
 'kcaudhrii@mailgun.net',
 'jyashrmaa@mailbox.org',
 'joshua97@mailgun.net',
 'praaciijossii@google.com',
 'achana@mailgun.net',
 'abhissekcaudhrii@mailgun.net',
 'vsnt47@mailgun.net',
 'nitin65@mailgun.net',
 'caudhriihiiraa@mailbox.org',
 'oshan@mailgun.net',
 'siddhaarthgddhvii@mailbox.org',
 'bjain@mailgun.net',
 'tejlshrmaa@mailbox.org',
 'raajendrcaudhrii@mailgun.net',
 'sonl89@mailbox.org',
 'muniisha@mailgun.net',
 'yashawini16@mailbox.org',
 'praacii21@mailgun.net',
 'guptaadrshn@mailbox.org',
 'bhavyasubramanian@mailgun.net',
 'tkumaar@google.com',
 'jayaramannoah@google.com',
 'pttelkunaal@mailgun.net',
 'palnaksh@mailbox.org',
 'pcaudhrii@mailgun.net',
 'dakshadara@mailbox.org',
 'hsetty@mailgun.net',
 'gddhviiyash@mailbox.org',
 'jghosh@google.com',
 'vasavrishti@google.com',
 'priitishrmaa@google.com',
 'yuggarde@google.com',
 'anirudh20@google.com',
 'gulatiwahab@mailbox.org',
 'ganeshumang@mailbox.org',
 'ddhar@mailgun.net',
 'xgddhvii@google.com',
 'walidaksh@google.com',
 'dshrmaa@mailbox.org',
 'anirudhgrover@mailgun.net',
 'jossiiscin@mailbox.org',
 'tborde@google.com',
 'prviinncaudhrii@mailgun.net',
 'prtik85@google.com',
 'divyamane@mailbox.org',
 'ckannan@google.com',
 'nguptaa@mailbox.org',
 'diipk84@google.com',
 'ankitaacaudhrii@mailgun.net',
 'ujossii@google.com',
 'csandal@mailgun.net',
 'diipaacaudhrii@mailbox.org',
 'hsachar@mailbox.org',
 'snjyajossii@mailbox.org',
 'shuklasiya@mailgun.net',
 'nathudarsh@mailgun.net',
 'chadavictor@mailgun.net',
 'kishncaudhrii@google.com',
 'tanmayi85@mailbox.org',
 'fkumaar@mailbox.org',
 'toorjeet@mailbox.org',
 'prtik64@mailgun.net',
 'mitul88@mailbox.org',
 'shrmaaprviinn@mailbox.org',
 'tnvii52@mailgun.net',
 'jyacaudhrii@mailbox.org',
 'xkanda@mailgun.net',
 'vkaran@mailbox.org',
 'ccaudhrii@google.com',
 'jhazaid@mailgun.net',
 'suurj87@google.com',
 'subhaassshrmaa@mailgun.net',
 'ciraagjossii@mailbox.org',
 'arjun17@mailgun.net',
 'wbutala@mailbox.org',
 'unnatikakar@mailbox.org',
 'nirjachaudhry@mailbox.org',
 'ekumaar@mailgun.net',
 'sanilavanya@google.com',
 'trivenichahal@mailgun.net',
 'srivastavapushti@google.com',
 'adar@mailbox.org',
 'buchanirudh@mailbox.org',
 'suniilshrmaa@mailbox.org',
 'varugheseudant@mailbox.org',
 'cjain@mailbox.org',
 'qgddhvii@google.com',
 'mshrmaa@mailbox.org',
 'kcaudhrii@mailgun.net',
 'dhruvbal@mailgun.net',
 'jossiijyaesh@mailbox.org',
 'ashok98@mailgun.net',
 'krssnnkumaar@mailbox.org',
 'warrioryochana@mailgun.net',
 'mohinisaraf@mailbox.org',
 'matthewshan@mailbox.org',
 'hrssl18@mailgun.net',
 'etakumar@mailgun.net',
 'unnibath@mailbox.org',
 'jossiihiiraa@mailbox.org',
 'qchoudhary@mailgun.net',
 'mayaramakrishnan@google.com',
 'falakrattan@google.com',
 'krssnnjossii@google.com',
 'gddhviiaashiss@mailgun.net',
 'grewaltanay@google.com',
 'fkumaar@google.com',
 'guptaanehaa@mailgun.net',
 'yashshrmaa@mailgun.net',
 'yadavibadal@mailgun.net',
 'qjain@google.com',
 'fpttel@google.com',
 'siyaacharya@mailgun.net',
 'subhaass11@google.com',
 'spttel@mailbox.org',
 'amairaravel@mailbox.org',
 'manbirkuruvilla@mailbox.org',
 'xcaudhrii@google.com',
 'issacgaurang@google.com',
 'suniil36@google.com',
 'palanijaya@mailgun.net',
 'icaudhrii@google.com',
 'balhaar56@mailgun.net',
 'zkothari@mailgun.net',
 'tanay83@google.com',
 'jossiivsnt@google.com',
 'jeetrastogi@mailgun.net',
 'sonlpttel@mailbox.org',
 'xsundaram@google.com',
 'naikharita@mailbox.org',
 'rohit64@google.com',
 'guptaamnoj@mailgun.net',
 'jeremiahtara@google.com',
 'raadhiikaa34@google.com',
 'radhikasubramanian@mailbox.org',
 'damyantiganguly@google.com',
 'kirnnguptaa@mailgun.net',
 'kalaayushman@google.com',
 'kalitasaanvi@mailbox.org',
 'shivanicheema@mailgun.net',
 'nwadhwa@google.com',
 'zguptaa@mailgun.net',
 'harinakshi22@mailgun.net',
 'qsolanki@mailgun.net',
 'ytripathi@google.com',
 'akssyajain@mailbox.org',
 'rpttel@mailbox.org',
 'pkrishnan@google.com',
 'ashok49@mailbox.org',
 'mnojshrmaa@google.com',
 'skumaar@google.com',
 'zayan92@mailbox.org',
 'alexander24@mailbox.org',
 'xjossii@google.com',
 'pkuruvilla@mailbox.org',
 'vyanjana32@mailbox.org',
 'wahab42@mailbox.org',
 'madhavi95@google.com',
 'scaudhrii@mailgun.net',
 'dakshachander@mailbox.org',
 'qjossii@mailbox.org',
 'jainsiddhaarth@google.com',
 'ankit88@mailgun.net',
 'wdoshi@mailbox.org',
 'hrssl47@google.com',
 'mhesh52@mailgun.net',
 'dayalimaran@mailgun.net',
 'udant05@mailgun.net',
 'ashok21@mailbox.org',
 'osha67@mailbox.org',
 'gddhviivishaal@mailbox.org',
 'kishngddhvii@google.com',
 'umurthy@google.com',
 'mhesh52@mailgun.net',
 'subhaass24@mailgun.net',
 'dhvlgddhvii@mailgun.net',
 'guptaarmesh@google.com',
 'lucky67@google.com',
 'sdutt@mailgun.net',
 'vsnt71@mailgun.net',
 'raahul96@google.com',
 'ememon@google.com',
 'prisharamaswamy@mailbox.org',
 'sshrmaa@mailgun.net',
 'anil95@google.com',
 'mitraranbir@mailgun.net',
 'bcaudhrii@google.com',
 'bansalhiral@google.com',
 'jhaindrajit@google.com',
 'bobalumang@google.com',
 'vagrawal@mailbox.org',
 'kirnn86@mailgun.net',
 'paarth18@google.com',
 'kaajl85@google.com',
 'darika91@google.com',
 'cpttel@google.com',
 'krssnnjain@google.com',
 'ccaudhrii@mailbox.org',
 'qissac@google.com',
 'rairachita@mailbox.org',
 'raajesh12@mailbox.org',
 'nikitasaha@google.com',
 'barmanzaid@mailbox.org',
 'jnarayan@mailbox.org',
 'gddhviikumaar@mailbox.org',
 'nrendrjain@google.com',
 'bcaudhrii@google.com',
 'ikumaar@mailgun.net',
 'yamini98@google.com',
 'viraj15@mailgun.net',
 'vaishnaviramesh@mailbox.org',
 'caudhriiakssya@google.com',
 'utoor@google.com',
 'vinayasrinivasan@mailbox.org',
 'puujaagddhvii@mailbox.org',
 'qabilloyal@google.com',
 'kumaarvipul@mailgun.net',
 'smiir58@google.com',
 'yohannanjackson@mailbox.org',
 'pallavi15@google.com',
 'sudikshakarnik@google.com',
 'ira36@google.com',
 'kumaarvrssaa@google.com',
 'georgebumb@mailgun.net',
 'hamsini28@google.com',
 'kumaarkunaal@google.com',
 'caudhriiprtik@mailbox.org',
 'smiirpttel@google.com',
 'gddhviiprviinn@mailgun.net',
 'xuppal@mailgun.net',
 'yashasvimani@mailgun.net',
 'jossiiashok@google.com',
 'rvishrmaa@mailbox.org',
 'cetnpttel@google.com',
 'pahal30@google.com',
 'naikhema@mailgun.net',
 'shrmaaprtik@mailgun.net',
 'qabil67@mailgun.net',
 'lchaudhari@mailbox.org',
 'nagygauri@mailbox.org',
 'hrssl26@mailbox.org',
 'kishn91@google.com',
 'fpttel@google.com',
 'trivedifitan@mailbox.org',
 'wpttel@mailgun.net',
 'niirj38@mailgun.net',
 'wtella@mailgun.net',
 'brindakanda@mailbox.org',
 'viraaj68@mailbox.org',
 'small@mailgun.net',
 'nitin98@mailgun.net',
 'jossiihrssl@google.com',
 'dguptaa@google.com',
 'imalhotra@mailbox.org',
 'zjain@mailgun.net',
 'pgddhvii@mailbox.org',
 'pttelkrnn@mailgun.net',
 'xkumaar@mailgun.net',
 'snjyajain@mailgun.net',
 'suniil99@mailbox.org',
 'ccaudhrii@mailgun.net',
 'praaciijain@mailgun.net',
 'isant@mailgun.net',
 'fradogulati@mailbox.org',
 'sundaramanjali@mailgun.net',
 'mukeshkumaar@mailbox.org',
 'bina14@google.com',
 'theodorevarughese@mailbox.org',
 'vedantdass@mailgun.net',
 'noahbala@mailbox.org',
 'hitesh64@mailgun.net',
 'benjaminravi@mailbox.org',
 'ranganathanirya@mailgun.net',
 'raagininazareth@google.com',
 'kirnn17@mailbox.org',
 'pttelpuujaa@mailgun.net',
 'suniil46@mailgun.net',
 'rjain@google.com',
 'ikulkarni@google.com',
 'jack35@mailbox.org',
 'djossii@google.com',
 'hcaudhrii@mailbox.org',
 'jainpuujaa@google.com',
 'nairqarin@mailbox.org',
 'prviinn38@mailgun.net',
 'xkumaar@mailbox.org',
 'shekhr19@mailbox.org',
 'raakesh61@google.com',
 'ojas71@mailgun.net',
 'ypradhan@mailgun.net',
 'caudhriiniirj@mailbox.org',
 'tarawagle@mailbox.org',
 'icaudhrii@mailgun.net',
 'prabhugagan@mailgun.net',
 'rushil90@mailgun.net',
 'jainjitendr@mailbox.org',
 'jossiipaarth@mailbox.org',
 'karan55@mailgun.net',
 'shaurya52@mailgun.net',
 'guptaanishaant@google.com',
 'amol30@mailbox.org',
 'rcnaa25@mailbox.org',
 'shrmaaniirv@mailbox.org',
 'urmi27@mailbox.org',
 'vbalay@google.com',
 'pahalraman@mailbox.org',
 'npttel@mailbox.org',
 'fdatta@mailgun.net',
 'bkumaar@google.com',
 'niirjjain@mailbox.org',
 'jgdiishcaudhrii@mailgun.net',
 'ekumaar@mailgun.net',
 'jacob45@google.com',
 'yashodharadalia@mailbox.org',
 'perikamya@mailgun.net',
 'garameghana@mailgun.net',
 'araman@mailgun.net',
 'yoshitasani@google.com',
 'smiirguptaa@google.com',
 'jsamra@mailbox.org',
 'ciraaggddhvii@google.com',
 'cmallick@mailbox.org',
 'vivek37@google.com',
 'vrastogi@google.com',
 'diliip81@google.com',
 'sndipcaudhrii@mailbox.org',
 'cpttel@mailbox.org',
 'wlala@google.com',
 'myauurcaudhrii@mailbox.org',
 'ashok10@mailbox.org',
 'kamyakrishnamurthy@mailbox.org',
 'ranbirkarpe@google.com',
 'eom@google.com',
 'jainprviinn@mailgun.net',
 'xvasa@mailbox.org',
 'gddhviidiliip@mailbox.org',
 'arunn94@mailbox.org',
 'fsrinivasan@google.com',
 'simonmistry@mailgun.net',
 'daravincent@google.com',
 'raksha05@mailgun.net',
 'amruta91@google.com',
 'williamviswanathan@mailbox.org',
 'mannanati@google.com',
 'vrssaa88@google.com',
 'utkarsh51@google.com',
 'radhakohli@google.com',
 'caudhriivsnt@mailbox.org',
 'jcaudhrii@mailbox.org',
 'max92@mailbox.org',
 'mjain@mailgun.net',
 'jcaudhrii@mailgun.net',
 'sissac@google.com',
 'shrmaahrssl@mailgun.net',
 'acaudhrii@mailbox.org',
 'gargvansha@mailgun.net',
 'suniil51@google.com',
 'zgddhvii@mailbox.org',
 'dhvl89@google.com',
 'lavanyamahajan@mailbox.org',
 'akssyacaudhrii@mailgun.net',
 'bumbkrish@mailgun.net',
 'dhawanudyati@google.com',
 'chaitanya20@mailbox.org',
 'mannanranveer@mailgun.net',
 'viswanathanpanini@google.com',
 'jagatdeo@google.com',
 'snjyacaudhrii@mailbox.org',
 'niirjjain@mailbox.org',
 'banerjeeoni@google.com',
 'dayaladvik@mailgun.net',
 'kirnn92@mailgun.net',
 'sundaramadweta@google.com',
 'prtikpttel@mailbox.org',
 'nkurian@mailbox.org',
 'cheemaarjun@mailbox.org',
 'caudhriinishaant@google.com',
 'kaajlkumaar@google.com',
 'zloyal@mailgun.net',
 'jossiikirnn@mailbox.org',
 'jgdiish78@mailgun.net',
 'pttelpnkj@mailgun.net',
 'zgddhvii@google.com',
 'gddhviiavnii@mailbox.org',
 'guptaaprnnv@google.com',
 'mitul68@mailgun.net',
 'nakshbarad@google.com',
 'ojossii@google.com',
 'rcaudhrii@mailgun.net',
 'wjossii@google.com',
 'edwinharish@google.com',
 'sai19@mailgun.net',
 'jossiiprtik@google.com',
 'sandra@google.com',
 'vsnt23@google.com',
 'snjiiv44@google.com',
 'shrmaanrendr@mailgun.net',
 'rgddhvii@mailbox.org',
 'dhruv18@mailgun.net',
 'tanvimangal@google.com',
 'hiiraacaudhrii@mailbox.org',
 'pillaiharshil@mailbox.org',
 'ajain@mailbox.org',
 'nitin31@google.com',
 'vinaya26@google.com',
 'kumaarniirj@mailbox.org',
 'samarthkapoor@google.com',
 'pmuni@mailgun.net',
 'paledhitha@mailgun.net',
 'nirja17@mailbox.org',
 'prtik52@google.com',
 'qchar@google.com',
 'hbadal@google.com',
 'yjossii@mailbox.org',
 'harinisem@mailgun.net',
 'mheshshrmaa@mailbox.org',
 'kumaarpraacii@google.com',
 'jvyas@mailgun.net',
 'nidhi33@mailgun.net',
 'munibina@mailgun.net',
 'kumaarpttel@google.com',
 'kirnn76@mailgun.net',
 'gargbhavya@google.com',
 'nicholasratti@mailgun.net',
 'danihemang@google.com',
 'deepa15@mailbox.org',
 'qdevan@mailbox.org',
 'fguptaa@google.com',
 'meerasekhon@mailgun.net',
 'zsuresh@mailbox.org',
 'farhanbhargava@mailbox.org',
 'skumaar@mailbox.org',
 'jainscin@mailgun.net',
 'ryan75@mailbox.org',
 'pallaati@mailbox.org',
 'tanveersathe@mailbox.org',
 'vsarraf@google.com',
 'suurjpttel@mailbox.org',
 'kumaarshekhr@mailgun.net',
 'wjossii@google.com',
 'snjya57@mailbox.org',
 'qshrmaa@google.com',
 'daliasathvik@google.com',
 'shravya25@mailbox.org',
 'hiiraashrmaa@mailgun.net',
 'caudhriiyash@google.com',
 'dguptaa@google.com',
 'azaan05@mailgun.net',
 'sneha61@mailbox.org',
 'utkarsh75@mailbox.org',
 'lokechasmum@google.com',
 'maanav52@google.com',
 'hiiraagddhvii@google.com',
 'dashjasmit@google.com',
 'puujaa53@google.com',
 'sonljain@mailgun.net',
 'anil53@mailbox.org',
 'oshrmaa@google.com',
 'ikbal13@mailbox.org',
 'fvohra@google.com',
 'ipttel@google.com',
 'ibhattacharyya@mailgun.net',
 'jitendr29@mailbox.org',
 'guptaaashok@mailgun.net',
 'tanveer99@google.com',
 'jossiiraajesh@mailbox.org',
 'kkhosla@google.com',
 'krssnn47@mailgun.net',
 'diyamohanty@mailgun.net',
 'harshilgulati@mailgun.net',
 'puujaagddhvii@mailbox.org',
 'zkeer@mailgun.net',
 'jaggiveer@google.com',
 'aashisuresh@google.com',
 'januja93@google.com',
 'pgera@mailbox.org',
 'sharafsathvik@mailgun.net',
 'guptaadiipaa@mailgun.net',
 'tshrmaa@mailgun.net',
 'jacob06@google.com',
 'tcaudhrii@mailgun.net',
 'mnojgddhvii@mailgun.net',
 'lavanyapanchal@mailbox.org',
 'jainvikrm@google.com',
 'jaindiliip@mailbox.org',
 'arjun84@google.com',
 'olad@mailbox.org',
 'diipkjossii@google.com',
 'arunnshrmaa@google.com',
 'balanicholas@mailgun.net',
 'nitin89@mailgun.net',
 'pranit39@google.com',
 'qviswanathan@mailbox.org',
 'jgdiishjain@mailgun.net',
 'ankitkumaar@mailbox.org',
 'pttelsubhaass@google.com',
 'scaudhrii@mailbox.org',
 'lguptaa@mailbox.org',
 'fshrmaa@mailgun.net',
 'tanishiyengar@mailgun.net',
 'guptaasnjiiv@google.com',
 'fariqpandit@google.com',
 'kunaal36@mailgun.net',
 'pvyas@mailbox.org',
 'xcaudhrii@mailgun.net',
 'diipkjain@google.com',
 'kala53@google.com',
 'ranbir68@mailbox.org',
 'anil09@google.com',
 'raajendr02@mailgun.net',
 'caudhriirohit@google.com',
 'ygddhvii@mailgun.net',
 'jainviraaj@mailgun.net',
 'advaynayar@google.com',
 'ccaudhrii@mailgun.net',
 'arjun10@mailgun.net',
 'pradhananita@google.com',
 'caudhriijitendr@mailbox.org',
 'kabir11@mailgun.net',
 'choudhryveer@mailgun.net',
 'shrmaaarunn@mailbox.org',
 'sai01@mailgun.net',
 'aanndcaudhrii@mailgun.net',
 'subramaniamharita@mailgun.net',
 'oprabhu@google.com',
 'yatan24@mailbox.org',
 'anjali09@mailgun.net',
 'jainyash@google.com',
 'jossiisubhaass@mailgun.net',
 'mhendr05@google.com',
 'nsrinivasan@mailgun.net',
 'cherianranbir@mailgun.net',
 'yash45@mailgun.net',
 'arjun06@google.com',
 'niirj37@mailgun.net',
 'okale@mailgun.net',
 'guptaamukesh@mailgun.net',
 'ankitaacaudhrii@google.com',
 'scheema@google.com',
 'oshrmaa@mailgun.net',
 'vrssaa63@google.com',
 'sarnasai@mailbox.org',
 'rcnaacaudhrii@mailgun.net',
 'gmall@mailgun.net',
 'puujaakumaar@mailgun.net',
 'farajbajaj@mailgun.net',
 'npalan@mailgun.net',
 'gjain@mailbox.org',
 'rmesh58@google.com',
 'bajwajanaki@mailbox.org',
 'khalsayash@mailgun.net',
 'pranitwali@mailbox.org',
 'zilmilwagle@mailgun.net',
 'yauvanishanker@mailbox.org',
 'jainpnkj@mailbox.org',
 'wakeeta29@google.com',
 'brijesh28@google.com',
 'farajranganathan@mailgun.net',
 'prviinnjain@mailgun.net',
 'jossiivrssaa@mailbox.org',
 'sarthakkala@google.com',
 'gayathri44@google.com',
 'snjiivkumaar@google.com',
 'lkumaar@mailbox.org',
 'shrmaaashok@google.com',
 'ngoyal@mailgun.net',
 'robert41@google.com',
 'ygddhvii@google.com',
 'ojain@mailgun.net',
 'vedant92@mailgun.net',
 'prtik03@mailbox.org',
 'guptaaviraaj@mailbox.org',
 'csolanki@mailgun.net',
 'tanaypatla@mailbox.org',
 'hgddhvii@google.com',
 'jainsndip@mailbox.org',
 'kumaartnvii@google.com',
 'ajyacaudhrii@mailgun.net',
 'pallmatthew@google.com',
 'guptaakaajl@google.com',
 'aadhya00@mailbox.org',
 'gpradhan@mailgun.net',
 'prtikcaudhrii@google.com',
 'rshrmaa@mailgun.net',
 'sndip03@mailgun.net',
 'sanayabarad@mailbox.org',
 'sara07@google.com',
 'annezaid@mailbox.org',
 'suniil34@mailbox.org',
 'cgddhvii@mailbox.org',
 'rcaudhrii@mailgun.net',
 'niirj26@mailgun.net',
 'hrssl25@mailgun.net',
 'fshrmaa@mailbox.org',
 'nehaa14@google.com',
 'kirnnshrmaa@mailbox.org',
 'raajendr19@mailgun.net',
 'jjossii@google.com',
 'ajya18@mailbox.org',
 'hemangini73@google.com',
 'kapoorfrado@mailbox.org',
 'bpttel@google.com',
 'tanvi97@mailgun.net',
 'shrmaapraacii@google.com',
 'ekta15@mailgun.net',
 'caudhriidiipk@mailbox.org',
 'mgddhvii@mailbox.org',
 'kumaar57@mailbox.org',
 'priitiguptaa@mailgun.net',
 'sndip33@mailgun.net',
 'bguptaa@google.com',
 'caudhriiraajesh@google.com',
 'sjossii@mailgun.net',
 'samuel41@google.com',
 'yoshitagala@mailbox.org',
 'om21@google.com',
 'kguptaa@mailgun.net',
 'subhaass83@google.com',
 'drshn11@mailbox.org',
 'shrmaaniirv@google.com',
 'dhvl41@google.com',
 'ptteljitendr@google.com',
 'xdugar@google.com',
 'purohitreva@google.com',
 'udant76@mailgun.net',
 'gddhviiniirv@mailgun.net',
 'arunima18@mailbox.org',
 'csalvi@google.com',
 'xjain@mailbox.org',
 'gargyatin@mailbox.org',
 'suleturvi@google.com',
 'pkumaar@google.com',
 'reyanshkorpal@google.com',
 'prtikjossii@mailgun.net',
 'tanish98@google.com',
 'jyaesh36@mailgun.net',
 'eratti@google.com',
 'zehaan73@mailbox.org',
 'jagdishbera@mailbox.org',
 'kumaarvishaal@google.com',
 'saniyashoda@google.com',
 'wganesan@mailgun.net',
 'zshrmaa@mailgun.net',
 'nishaacaudhrii@mailbox.org',
 'jaindiipaa@mailbox.org',
 'venkateshfalan@mailgun.net',
 'khuranapooja@mailbox.org',
 'manan43@mailgun.net',
 'ddora@google.com',
 'shrmaajyaesh@mailbox.org',
 'lopabajwa@google.com',
 'vguptaa@mailgun.net',
 'keya12@google.com',
 'ashrmaa@mailbox.org',
 'bordedamini@mailgun.net',
 'charvikarpe@google.com',
 'aarnav89@google.com',
 'isha15@mailbox.org',
 'chakrika73@google.com',
 'pnkjkumaar@google.com',
 'umangbera@google.com',
 'siddhaarthcaudhrii@mailbox.org',
 'ycaudhrii@google.com',
 'snjiiv80@mailgun.net',
 'qadimbadami@mailgun.net',
 'vivek40@mailgun.net',
 'viswanathanvrishti@google.com',
 'nandini47@google.com',
 'aganguly@mailbox.org',
 'wsen@mailgun.net',
 'reyansh02@google.com',
 'rohit83@mailbox.org',
 'agateyasti@mailgun.net',
 'jossiitnvii@google.com',
 'katazayyan@mailbox.org',
 'anthonymittal@mailbox.org',
 'nishaa89@mailbox.org',
 'tristan16@mailgun.net',
 'bhasinluke@mailgun.net',
 'vcaudhrii@mailbox.org',
 'yadavisaraf@mailbox.org',
 'gokhalewidisha@mailgun.net',
 'csachdeva@google.com',
 'jaintejl@mailbox.org',
 'ikumaar@google.com',
 'jayaramanbaljiwan@mailgun.net',
 'mcheema@google.com',
 'rushil70@mailgun.net',
 'pttelsndip@mailbox.org',
 'vipul18@mailgun.net',
 'ishanvi52@mailgun.net',
 'diipaa24@mailgun.net',
 'njossii@mailbox.org',
 'rcnaa39@mailgun.net',
 'dcaudhrii@google.com',
 'hparmar@mailgun.net',
 'madhavdani@mailgun.net',
 'charlesmistry@google.com',
 'nishaacaudhrii@google.com',
 'cherianxiti@mailbox.org',
 'wahuja@mailbox.org',
 'qravel@google.com',
 'rvi70@google.com',
 'suniilcaudhrii@google.com',
 'rmesh24@mailgun.net',
 'kunaal48@google.com',
 'subhaassguptaa@mailgun.net',
 'suraindali@google.com',
 'bgddhvii@mailgun.net',
 'nraju@mailgun.net',
 'ijain@google.com',
 'bhattucchal@mailbox.org',
 'danielkari@mailbox.org',
 'udass@mailbox.org',
 'rkohli@mailgun.net',
 'arjun19@google.com',
 'mhendr29@mailbox.org',
 'chakrika41@mailgun.net',
 'pttelrohit@mailgun.net',
 'npttel@google.com',
 'tanmayi31@mailbox.org',
 'guptaanishaa@mailbox.org',
 'jainvishaal@mailbox.org',
 'brijesh36@google.com',
 'eguptaa@google.com',
 'gddhviiaannd@google.com',
 'prkaash72@google.com',
 'akumaar@mailgun.net',
 'gguptaa@mailgun.net',
 'cetn29@mailgun.net',
 'ukumaar@mailbox.org',
 'gabriel76@google.com',
 'kumaarsmiir@mailbox.org',
 'vedikaganguly@mailgun.net',
 'kirnn45@mailbox.org',
 'kumaarmukesh@google.com',
 'oguptaa@google.com',
 'agrawalshivansh@mailgun.net',
 'rajeshri91@google.com',
 'vraj@mailbox.org',
 'vedant00@mailgun.net',
 'atharvvarghese@mailbox.org',
 'jossiiankitaa@mailbox.org',
 'radha02@mailbox.org',
 'hgaba@mailbox.org',
 'qsethi@mailgun.net',
 'mitulkumaar@google.com',
 'samuel21@mailgun.net',
 'iguptaa@mailbox.org',
 'tjani@mailbox.org',
 'qnath@google.com',
 'jyajain@google.com',
 'xalak78@mailbox.org',
 'xsingh@google.com',
 'arjungddhvii@mailgun.net',
 'wvenkatesh@mailbox.org',
 'harsh13@mailgun.net',
 'prkaashjain@google.com',
 'vsntgddhvii@google.com',
 'bakshiwarinder@mailbox.org',
 'cjain@mailbox.org',
 'prnnvjossii@mailgun.net',
 'jagdishkrishnamurthy@mailbox.org',
 'shrmaaraaj@mailgun.net',

In [ ]:
df['email'] = pd.Series(emails)

,first_name,last_name,email,city,ordered_amount,joined_date,Month_name
0,યશ,જૈન,eshanasarkar@google.com,New બ્રિજેશ,93.0,2003-12-25,December
1,Bhavna,ગુપ્તા,doctorxavier@mailbox.org,New અશોક,89.0,2020-07-01,July
2,સમીર,Bhagat,priiticaudhrii@mailgun.net,Aizawl,54.0,2023-10-18,October
3,અંકિત,Kaur,suhani29@google.com,સુનીલhaven,88.0,2000-02-04,February
4,David,Magar,tnvii64@mailgun.net,શર્માfort,62.0,2012-02-07,February

In [ ]:
is_primes = ["yes" if value > 50 else "no" for value in df['ordered_amount']]
is_primes

['yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'no',
 'no',
 'no',
 'yes',
 ...]

In [95]:
df['is_prime'] = pd.Series(is_primes)

In [101]:
df.head(10)

,first_name,last_name,email,city,ordered_amount,joined_date,Month_name,is_prime
0,યશ,જૈન,eshanasarkar@google.com,New બ્રિજેશ,93.0,2003-12-25,December,yes
1,Bhavna,ગુપ્તા,doctorxavier@mailbox.org,New અશોક,89.0,2020-07-01,July,yes
2,સમીર,Bhagat,priiticaudhrii@mailgun.net,Aizawl,54.0,2023-10-18,October,yes
3,અંકિત,Kaur,suhani29@google.com,સુનીલhaven,88.0,2000-02-04,February,yes
4,David,Magar,tnvii64@mailgun.net,શર્માfort,62.0,2012-02-07,February,yes
5,નિશાંત,જોષી,jossiidiipk@mailgun.net,Karnal,1.0,2009-01-08,January,no
6,Bahadurjit,Bobal,kcaudhrii@mailgun.net,Indore,80.0,2012-09-07,September,yes
7,દિનેશ,શર્મા,jyashrmaa@mailbox.org,Agra,42.0,2012-10-30,October,no
8,Tanveer,Reddy,joshua97@mailgun.net,Muzaffarnagar,87.0,2001-01-30,January,yes
9,Daksh,જોષી,praaciijossii@google.com,Gurgaon,5.0,2010-03-26,March,no

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   first_name      100000 non-null  object
 1   last_name       100000 non-null  object
 2   email           100000 non-null  object
 3   city            100000 non-null  object
 4   ordered_amount  100000 non-null  float64
 5   joined_date     100000 non-null  datetime64[ns]
 6   Month_name      100000 non-null  object
 7   is_prime        100000 non-null  object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 6.1+ MB