In [10]:
import pandas as pd

df = pd.read_csv('Datasets/Real_Estate_Sales.csv', low_memory = False)

In [58]:
import datetime

In [26]:
df['Month Name'] = pd.to_datetime(df['Date Recorded']).dt.month_name()

In [25]:
df['Profit'] = df['Sale Amount'] - df['Assessed Value']

In [24]:
df['Date Recorded'] = pd.to_datetime(df['Date Recorded'])

In [55]:
df.drop('Net Profit', axis = 1, inplace = True)

In [43]:
df.insert(3, 'Month Name', df['Date Recorded'].dt.month_name())

In [59]:
df.insert(9, 'Net Profit', (df['Sale Amount'] * df['Sales Ratio']))

ValueError: cannot insert Net Profit, already exists

In [61]:
df.insert(4, 'Date Diff', (pd.to_datetime(datetime.date) - df['Date Recorded']))

TypeError: <class 'type'> is not convertible to datetime, at position 0

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1097629 entries, 0 to 1097628
Data columns (total 17 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Serial Number     1097629 non-null  int64
 1   List Year         1097629 non-null  int64
 2   Date Recorded     1097627 non-null  datetime64[ns]
 3   Month Name        1097627 non-null  object
 4   Town              1097629 non-null  object
 5   Address           1097578 non-null  object
 6   Assessed Value    1097629 non-null  float64
 7   Sale Amount       1097629 non-null  float64
 8   Sales Ratio       1097629 non-null  float64
 9   Net Profit        1097629 non-null  float64
 10  Property Type     715183 non-null   object
 11  Residential Type  699240 non-null   object
 12  Non Use Code      313451 non-null   object
 13  Assessor Remarks  171228 non-null   object
 14  OPM remarks       13031 non-null    object
 15  Location          298111 non-null   object
 16  Profit            1097629 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(9)
memory usage: 142.4+ MB

In [57]:
df.head()

,Serial Number,List Year,Date Recorded,Month Name,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Net Profit,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location,Profit
0,2020177,2020,2021-04-14,April,Ansonia,323 BEAVER ST,133000.0,248400.0,0.5354,132993.36,Residential,Single Family,NaN,NaN,NaN,POINT (-73.06822 41.35014),248400.0
1,2020225,2020,2021-05-26,May,Ansonia,152 JACKSON ST,110500.0,239900.0,0.4606,110497.94,Residential,Three Family,NaN,NaN,NaN,NaN,239900.0
2,2020348,2020,2021-09-13,September,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,150475.00,Commercial,NaN,NaN,NaN,NaN,NaN,325000.0
3,2020090,2020,2020-12-14,December,Ansonia,57 PLATT ST,127400.0,202500.0,0.6291,127392.75,Residential,Two Family,NaN,NaN,NaN,NaN,202500.0
4,210288,2021,2022-06-20,June,Avon,12 BYRON DRIVE,179990.0,362500.0,0.4965,179981.25,Residential,Condo,NaN,NaN,NaN,POINT (-72.879115982 41.773452988),362500.0