In [1]:
2 and ""

''

In [2]:
bool(2 and "")

False

In [22]:
0o1111

585

In [23]:
0x1111

4369

In [24]:
~-11

10

In [25]:
~5

-6

In [26]:
~4

-5

In [27]:
~-8

7

In [28]:
8^8

0

In [29]:
7^8

15

In [30]:
num = 10
if num>0:
    print('postive')
    print('num')
else:
    print('negative')

postive
num

In [34]:
num =10
if(num>0):
    pass

In [35]:
7>>2

1

In [36]:
7<<2

28

In [3]:
if False:
    print("true")
else:
    print("false")

false

In [13]:
num = 15
if num % 2:
    print(num, "is odd.")
else:
    print(num, "is even.")

15 is odd.

In [11]:
num = int(input("Enter a Number:"))
print(type(num))

<class 'int'>

In [16]:
num = int(input("Enter a Number:"))
if num % 2:
    print(num, "is odd.")
else:
    print(num, "is even.")

11 is odd.

In [26]:
chr(65)

'A'

In [28]:
ord("A")

65

In [30]:
print('this is "python"')

this is "python"

In [31]:
print("it's python")

it's python

In [33]:
print('it\'s "python"')
print("it's \"python\"")

it's "python"
it's "python"

In [34]:
print("\\n is for new line")

\n is for new line

In [36]:
print("it's \"\\t\" for a tab space")

it's "\t" for a tab space

In [37]:
print("/home/quastech/gauri/python.ipynb")

/home/quastech/gauri/python.ipynb

In [38]:
print("\t hi")

	 hi

In [ ]:
print(r"\t hi")

\t hi

In [44]:
name = "Rohit"
age = 20
salary = 20000

In [45]:
print("my name is", name, "and my age is", age, "and my salary is", salary)

my name is Rohit and my age is 20 and my salary is 20000

In [48]:
print(f"My name is {name}, I am {age} years old ad my salary is {salary}")

My name is Rohit, I am 20 years old ad my salary is 20000

In [3]:
print("""
hi
i
am
rohit""")

hi
i
am
rohit

In [6]:
t = 0
age = 19
if age > 12:
    t = 10
else:
    t = 5
print("ticket price:", t)

ticket price: 10

In [8]:
t = 10 if age > 12 else 5
t

10

In [26]:
num = 20
ans = f"{num} is odd" if num % 2 else f"{num} is even"
ans

'20 is even'

In [48]:
a, b = 10, 29.5
temp = a
a = b
b = temp
print(a, b)

29.5 10

In [49]:
a, b = b, a
print(a, b)

10 29.5

In [56]:
a, b = 10983.4545, 29.5
a, b = a + (b - a), b + (a - b)
a, b

(29.5, 10983.4545)

In [57]:
a, b = 10, 20
a = a + b
b = a - b
a = a - b
print(a, b)

20 10

In [65]:
s = "Hello World"
s[10]

'd'

In [77]:
s[::-1]

'dlroW olleH'