In [ ]:
a=10

In [ ]:
print (a)

10

In [ ]:
print (type(a))

<class 'int'>

In [ ]:
print (id(a))

140348511912464

In [ ]:
b = 103.4

In [ ]:
print (type(b))

<class 'float'>

In [ ]:
a = float(a)
print (type(a))

<class 'float'>

In [ ]:
c = "hello"
print (c)

hello

In [ ]:
d = 1+0j

In [ ]:
print (type(d))

<class 'complex'>

In [ ]:
e = None
print (type(e))

<class 'NoneType'>

In [ ]:
f = True
print (type(f))

<class 'bool'>

In [ ]:
15/4

3.75

In [ ]:
10+2

12

In [ ]:
13-4

9

In [ ]:
print (12*3)

36

In [ ]:
print (18//4)

4

In [ ]:
18%4

2

In [ ]:
a,b

(0.0, 103.4)

In [ ]:
print("a+b=",a+b,sep="  ")
print("a-b=",a-b,sep="  ")
print("a*b=", a*b)
print ("a**b=",a**b, sep="  ")

a+b=  103.4
a-b=  -103.4
a*b= 0.0
a**b=  0.0

In [ ]:
a

0.0

In [ ]:
a=a+2
print (a)

2.0

In [ ]:
a+=2
print(a)

4.0

In [ ]:
a-=2
print(a)

2.0

In [ ]:
a*=2
print (a)

4.0

In [ ]:
a/=2
print(a)

2.0

In [ ]:
a%=2
print (a)

0.0

In [ ]:
10==10

True

In [ ]:
'10'==10

False

In [ ]:
1 and 1

1

In [ ]:
bool(2 and "")

False

In [ ]:
bool(None)

False

In [ ]:
bool("")

False

In [ ]:
bool(0)

False

In [ ]:
bool({})

False

In [ ]:
bool([])

False

In [ ]:
1 and 0 or True

True

In [ ]:
1 or 0 and True

1

In [ ]:
4**2**3

65536

In [ ]:
4**8

65536

In [ ]:
not 1

False

In [ ]:
not True

False

In [ ]:
not 0

True

In [ ]:
7 & 8

0

In [ ]:
7|8

15

In [ ]:
0b1111

15

In [ ]:
0x1111

4369

In [ ]:
0xf

15

In [ ]:
0o111

73

In [ ]:
0o1111

585

In [ ]:
~10

-11

In [ ]:
~-11

10

In [ ]:
7^8

15

In [ ]:
8^8

0

In [ ]:
num = 10
if num>0:
    print ("POSITIVE")
    print (num)
else:
    print ("NEGATIVE")

POSITIVE
10

In [ ]:
num = 10
if num>0:
    print ("POSITIVE")
       print (num)
    else:
    print ("NEGATIVE")

IndentationError: unexpected indent (3346571938.py, line 4)

In [ ]:
num = 10
if num>0:

SyntaxError: incomplete input (3316007750.py, line 2)

In [ ]:
num = 10
if num>0:
   pass

In [ ]:
7>>2

1

In [ ]:
7<<2

28

In [ ]:
if False:
    print ("true statement")
else:
    print ("false statement ")

false statement

In [ ]:
num = 114
if num%2:
    print (num," is odd")
else:
    print (num," is even")

114  is even

In [ ]:
print (input("enter a number"))

In [ ]:
num = int(input('enter a number'))
print (type(num))

<class 'int'>

In [ ]:
num =  int(input('enter a number'))
if num%2:
    print (num," is odd")
else:
    print (num," is even")

12  is even

In [ ]:
num =  int(input('enter a number'))
if num%2:
    print (num," is odd")
else:
    print (num," is even")

156  is even

In [ ]:
chr(65)

'A'

In [ ]:
ord('A')

65

In [ ]:
ord('0')

48

In [ ]:
chr(9)

'\t'

In [ ]:
print('It is "Python"')

It is "Python"

In [ ]:
print ("it's python")

it's python

In [ ]:
print ('it\'s "python"')

it's "python"

In [ ]:
print ("it's \"python\"")

it's "python"

In [ ]:
print ("\\n is for new line")

\n is for new line

In [ ]:
print ('it\'s "\\t" for tab space')

it's "\t" for tab space

In [ ]:
print ("/home/quastech/yash/pytho.ipynb")

/home/quastech/yash/pytho.ipynb

In [ ]:
print(r'\t\n')

\t\n

In [ ]:
name = "Yash"
age = 21
salary = 20000

In [ ]:
print ("my name is",name, "i am",age,"years old and my salary is", salary )

my name is Yash i am 21 years old and my salary is 20000

In [ ]:
print(f"my name is {name}, i am {age}, years old and my salary is{salary}")

my name is Yash, i am 21, years old and my salary is20000

In [ ]:
print ("""hello
       hi
       """)

hello
       hi

In [ ]:
age = 10
t = 0
if age > 12:
    t = 10
else:
    t = 5
print(t)

5

In [ ]:
age = 19
t = 10 if age>12 else 5
print(t)

10

In [ ]:
32+2

34

In [ ]:
num = 20
result= f"{num} is odd" if num%2 else f"{num} is even"
print(result)

20 is even

In [ ]:
# swap

a=10
b=20
c=a
a=b
b=c
print (a,b)

20 10

In [ ]:
a=10
b=20
a,b=b,a
print (a,b)

20 10

In [ ]:
a=10
b=20
a, b = a + (b - a), b + (a - b)

a,b

(20, 10)

In [ ]:
a=10
b=20
a=a+b
b=a-b
a=a-b
print(a,b)

20 10

In [ ]:
s = "Hello World"
s[5]

' '

In [ ]:
s = 'Hello World'
s[0:11]

'Hello World'

In [ ]:
s[:]

'Hello World'

In [ ]:
s = "0123456789"
s[0:len(s):1]

'0123456789'

In [ ]:
s[-1]

'9'

In [ ]:
s[::-1]

'9876543210'

In [ ]:
print(s[0::2]) # print even indexes
print(s[1::2]) # print odd indexes
print(s[::-1]) # print in reverse

02468
13579
9876543210

In [ ]:
print(s[5:1:-1])

5432

In [ ]:
print(s[::-2]) # print odd indexes in reverse
print(s[-2::-2]) # print even indexes in reverse

97531
86420

In [ ]:
s = "abcdefghij" # practice
print(s[4::5])
print(s[::3])
print(s[5::-5])
print(s[7:0:-3])
print(s[:0:-4])

ej
adgj
fa
heb
jfb

In [ ]:
# string methods

s = "Hello World"

print("uppercase:", s.upper())
print("lowercase:", s.lower())
print("title case:", s.title())
print("capitalised:", s.capitalize())
print("index of 'W':", s.index("W"))
print("found 'r' at:", s.find("r"))
print("count of 'l':", s.count("l"))
print("casefold:", s.casefold())
print("split using ' ':", s.split(" "))
print("replaced 'H' with 'j':", s.replace("H", "J"))
"=".join(['Hello', 'World', 'this', 'is', 'python'])

uppercase: HELLO WORLD
lowercase: hello world
title case: Hello World
capitalised: Hello world
index of 'W': 6
found 'r' at: 8
count of 'l': 3
casefold: hello world
split using ' ': ['Hello', 'World']
replaced 'H' with 'j': Jello World

'Hello=World=this=is=python'

In [ ]:
# string methods

s = "            Hello        world             "

print("removed whitespace from left only:", s.lstrip())
print("removed whitespace from right only:", s.rstrip())
print("removed whitespace from both sides:", s.strip())

removed whitespace from left only: Hello        world
removed whitespace from right only:             Hello        world
removed whitespace from both sides: Hello        world

In [ ]:
# string methods

s = "apple"

ljust_text = s.ljust(10, "*")
rjust_text = s.rjust(10, "-")
center_text = s.center(50, "~")

print(ljust_text)
print(rjust_text)
print(center_text)

apple*****
-----apple
~~~~~~~~~~~~~~~~~~~~~~apple~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
# string methods

s = "hEllo WoRld"

print(s.swapcase())

HeLLO wOrLD

In [ ]:
# string methods

s = "Hello\n World\n this is Python"

print(s.splitlines())

['Hello', ' World', ' this is Python']

In [ ]:
# string methods

name = "Rohit"
age = 20
score = 123.123

sentence_1 = "Hi, I am {} and I am {} years old"
sentence_2 = "Hi, I am {var1} and I am {var2} years old"

print(sentence_1.format(name, age))
print(sentence_2.format(var1=name, var2=age))

Hi, I am Rohit and I am 20 years old
Hi, I am Rohit and I am 20 years old

In [ ]:
"hi""hello"

'hihello'

In [ ]:
"hi"+"hello"

'hihello'

In [ ]:
"Hi " * 3

'Hi Hi Hi '

In [ ]:
# string formatting

print("hi, i am %s and i am %d years old and i scored %.2f" % (name, age, score))
print(f"Score: {score:.2f}")

hi, i am Rohit and i am 20 years old and i scored 123.12
Score: 123.12

In [ ]:
# if-else

a, b = 10, 20

if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{b} is greater than {a}")

20 is greater than 10

In [ ]:
# comparing 3 numbers using if-else

a, b, c = 40, 30, 20

if (a > b):
    if (a > c):
        print(f"{a} is greater than {b} and {c}")
else:
    if (b > c):
        print(f"{b} is greater than {a} and {c}")
    else:
        print(f"{c} is greater than {a} and {b}")

40 is greater than 30 and 20

In [ ]:
# comparing 3 numbers using elif

a, b, c = 40, 30, 50

if (a > b) and (a > c):
    print(f"{a} is greater than {b} and {c}")
elif (b > c):
    print(f"{b} is greater than {a} and {c}")
else:
    print(f"{c} is greater than {a} and {b}")

50 is greater than 40 and 30

In [ ]:
# switch case version in python

num = 3
match num:
    case 1:
        print("one")
    case 2:
        print("two")
    case 3:
        print("three")
    case _:
        print("not found")

three

In [ ]:
# for iterator

for i in "123":
    print("Hi!")

Hi!
Hi!
Hi!

In [ ]:
for i in range(10):
    print("hi!", i)

hi! 0
hi! 1
hi! 2
hi! 3
hi! 4
hi! 5
hi! 6
hi! 7
hi! 8
hi! 9

In [ ]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
i = 0

while (i < 4):
    print(i)
    i += 1

0
1
2
3

In [ ]:
# print a table of any number

snum = int(input("Enter a number: "))
i = 1
while i < 11:
    print(f"{num} x {i} = {num * i}")
    i += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
# DO NOT RUN THIS. IT WILL CRASH YOUR COMPUTER

# a = [1, 2]

# for i in a:
#     a.append(i + 1)

In [ ]:
print(a)

40

In [ ]:
# find certain characters and their index in a string
# 1. my way

s = "Python is a Programming language"
num = 0
for i in s.casefold():
    if i == 'g':
        print('g', num)
    if i == 'm':
        print('m', num)
    if i == 'p':
        print('p', num)
    num += 1

p 0
p 12
g 15
m 18
m 19
g 22
g 27
g 30

In [ ]:
# 2. using enumarate

s = "Python is a Programming language"

for index, ch in enumerate(s):
    if ch in "gmp":
        print(f"{ch} found at {index}")

g found at 15
m found at 18
m found at 19
g found at 22
g found at 27
g found at 30

In [ ]:
# 3a. using index to call for value (for loop)

s = "Python is a Programming language"

for i in range(len(s)):
    if s[i].lower() in "gmp":
        print(f"{s[i]} found at {i}")

P found at 0
P found at 12
g found at 15
m found at 18
m found at 19
g found at 22
g found at 27
g found at 30

In [ ]:
# 3b. using index to call for value (while loop)

s = "Python is a Programming language"
i = 0

while i < len(s):
    if s[i].lower() in "gmp":
        print(f"{s[i]} found at {i}")
    i += 1

P found at 0
P found at 12
g found at 15
m found at 18
m found at 19
g found at 22
g found at 27
g found at 30

In [ ]:
# 4. using external variable as an index

s = "Python is a Programming language"
index = 0

for ch in s.casefold():
    if ch in "gmp":
        print(f"{ch} found at {index}")
    index += 1

p found at 0
p found at 12
g found at 15
m found at 18
m found at 19
g found at 22
g found at 27
g found at 30

In [ ]:
# count the occurence of characters in a string

s = "Python is a Programming Language"

count = 0
ch_to_check = input('enter the char to count for:')

for ch in s:
    if ch_to_check.lower() == ch.lower():
        count += 1

print(f"{ch_to_check} occurred {count} times in the sentence.")

p occurred 2 times in the sentence.

In [ ]:
# write a program to check if the string is a palindrome

s = input("Enter a string: ")

if s == s[::-1]:
    print(f"{s} is a palindrome")
else:
    print(f"{s} is not a palindrome")

racecar is a palindrome

In [ ]:
# write a program to check if the string is a palindrome using basics

s_original = input("Enter a string: ")
s_reversed = ""

for ch in s_original:
    s_reversed = ch + s_reversed

if s_original == s_reversed:
    print(f"{s_original} is a palindrome")
else:
    print(f"{s_original} is not a palindrome")

madam is a palindrome

In [ ]:
# write a program to check if the string is a palindrome using while loop.

s_original = input("Enter a string: ")
s_reversed = ""

i = 0

while(i < len(s_original)):
    s_reversed = s_original[i] + s_reversed
    i += 1

if s_original == s_reversed:
    print(f"{s_original} is a palindrome")
else:
    print(f"{s_original} is not a palindrome")

racecar is a palindrome

In [ ]:
# write a program to check if the string is an anagram.

s1 = input("Enter a string: ")
s2 = input("Enter a string: ")

if sorted(s1) == sorted(s2):
    print(f"{s1} and {s2} are anagrams")
else:
    print(f"{s1} and {s2} are not anagrams")

silent and listen are anagrams

In [ ]:
# write a program to check if the string is an anagram using basics.

s1 = input("Enter a string: ")
s2 = input("Enter a string: ")
result = f"{s1} and {s2} are Anagrams"

if len(s1) != len(s2):
  result = f"{s1} and {s2} are not Anagrams"

for i in range(len(s1)):
    if s1.count(s1[i]) != s2.count(s1[i]):
        result = f"{s1} and {s2} are not Anagrams"
        break

print(result)

car and arc are Anagrams

In [ ]:
# write a program to check if the string is an anagram using dictionaries.

s1 = input("Enter the first string: ").lower()
s2 = input("Enter the second string: ").lower()

if len(s1) != len(s2):
    print(f"{s1} and {s2} are not anagrams")

char_count = {}

for ch in s1:
    char_count[ch] = char_count.get(ch, 0) + 1

is_anagram = True
for ch in s2:
    if ch not in char_count or char_count[ch] == 0:
        print(f"{s1} and {s2} are not anagrams")
        is_anagram = False
        break
    else:
        char_count[ch] -= 1

if is_anagram:
    print(f"{s1} and {s2} are anagrams")

car and arc are anagrams

In [ ]:
# write a program to count how many times each letter occured.

s = "Hello World!"

for ch in s.lower():
  count = 0
  for i in s.lower():
    if i == ch:
      count += 1
  print(f"{ch} occured {count} times")

h occured 1 times
e occured 1 times
l occured 3 times
l occured 3 times
o occured 2 times
  occured 1 times
w occured 1 times
o occured 2 times
r occured 1 times
l occured 3 times
d occured 1 times
! occured 1 times

# Non Primitive Data

In [ ]:
# LISTS

a = []
print(type(a))

<class 'list'>

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
c = [1, 'a', 2, 'b']

print(a, b, c)

[1, 2, 3] ['a', 'b', 'c'] [1, 'a', 2, 'b']

In [ ]:
a = list("abc"+"123")
a

['a', 'b', 'c', '1', '2', '3']

In [ ]:
my_list = [1, 1.5, "Hello", True, None, 2 + 3j, [1, 2, 3],
           (1, 2, 3), {1, 2, 3}, {1 : "one", 2 : "two"},
           print, tuple]
my_list

[1,
 1.5,
 'Hello',
 True,
 None,
 (2+3j),
 [1, 2, 3],
 (1, 2, 3),
 {1, 2, 3},
 {1: 'one', 2: 'two'},
 <function print>,
 tuple]

In [ ]:
print(my_list[10])

<built-in function print>

In [ ]:
my_list[10]("Hello World, this calls the print function")

Hello World, this calls the print function

In [ ]:
my_list[6][1] # 6th index has a list [1, 2, 3] and it's 1st index holds a value of 2.

2

In [ ]:
# iterating through the list

x = ['a', 'b', 'c', 'd', 'e', 'f']

for i in range(len(x)):
    print(i, x[i])

0 a
1 b
2 c
3 d
4 e
5 f

In [ ]:
# iterating through odd indexes of the list

x = ['a', 'b', 'c', 'd', 'e', 'f']

for i in range(1, len(x), 2):
    print(i, x[i])

1 b
3 d
5 f

In [ ]:
# adds an element to the end of the list (at the -1 position specifically)

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.append('g')
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# inserts an element at a particular position

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.insert(0, 'A')
x

['A', 'a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
# returns the index of the element

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.index("e")

4

In [ ]:
# removes and returns the elements at the specified index or index -1 by default

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.pop()

'f'

In [ ]:
# removes the element specified

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.remove('f')
print(x)

['a', 'b', 'c', 'd', 'e']

In [ ]:
# reverses the entire list

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.reverse()
print(x)

['f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
# sorts the entire list

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.sort()
print(x)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
# add the letters 'a' to 'g' at the beginning of the list
# 1. using reversed string.

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

for ch in s[::-1]:
    r.insert(0, ch)

print(r)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# 2. using normal string

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

for i in range(len(s)):
    r.insert(i, s[i])

print(r)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# 3. using negative indexing

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

for ch in s:
    r.insert(-4, ch)

print(r)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# 4. using negative indexing and chr()

r = ['h', 'i', 'j', 'k']

for i in range(7):
    r.insert(-4, chr(97 + i))
    print(r)

['a', 'h', 'i', 'j', 'k']
['a', 'b', 'h', 'i', 'j', 'k']
['a', 'b', 'c', 'h', 'i', 'j', 'k']
['a', 'b', 'c', 'd', 'h', 'i', 'j', 'k']
['a', 'b', 'c', 'd', 'e', 'h', 'i', 'j', 'k']
['a', 'b', 'c', 'd', 'e', 'f', 'h', 'i', 'j', 'k']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# using the 'Python' way

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

r = list(s) + r
print(r)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# remove certain elements from a list
# 1. using the remove() menthod

elements = ['a', 'b', 'c', 1, 'z']
r = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

for ch in elements:
    if ch in r:
        r.remove(ch)

print(r)

['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
#2. using the pop() method

elements = ['a', 'b', 'c', 1, 'z']
r = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

for ch in elements:
    if r.count(ch) > 0:
        r.pop(r.index(ch))
print(r)

['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [ ]:
# acessing the list using the enumerate() function

elements = ['a', 'b', 'c', 'd', 'e']

for index, value in enumerate(elements):
    print(index, value)

0 a
1 b
2 c
3 d
4 e

In [ ]:
# multi-dimensional lists

m = [
    ['annabelle', 'bheem', 'charlie'],
    ['doraemon', 'oggy', 'fantastic 4'],
    ['gatorgaj', 'hagemaru', 'shinchan']
]

print(m[0])           # ['annabelle', 'bheem', 'charlie']
print(m[0][1])        # bheem
print(m[0][1][0])     # b
print(m[0][1][4::1])  # m
print(m[2][2][4:])    # chan
print(m[1][0][:4])    # dora

['annabelle', 'bheem', 'charlie']
bheem
b
m
chan
dora

In [ ]:
e = ['The', 'Moon']
e.insert(1, "Hello")
print(e)

['The', 'Hello', 'Moon']

In [ ]:
e = ['The', 'Moon']
e.append("Hello")
print(e)

['The', 'Moon', 'Hello']

In [ ]:
e = ['The', 'Moon']
e.extend(["this", "is", "great"])
print(e)

['The', 'Moon', 'this', 'is', 'great']

In [ ]:
e = ['The', 'Moon', 'this', 'is', 'great']
p = e
print("p =", p)     # same as e
p.pop()             # remove an element from 'p'
print("p =", p)     # 'p' changed
print("e =", e)     # 'e' changed too.
print(id(p), id(e)) # cause they transferred id instead.

p = ['The', 'Moon', 'this', 'is', 'great']
p = ['The', 'Moon', 'this', 'is']
e = ['The', 'Moon', 'this', 'is']
140347910439424 140347910439424

In [ ]:
e = ['The', 'Moon', 'this', 'is', 'great']
p = e.copy()        # using the list.copy() method
print("p =", p)     # same as e
p.pop()             # remove an element from 'p'
print("p =", p)     # 'p' changed
print("e =", e)     # 'e' didn't change.
print(id(p), id(e)) # cause they transferred 'Data' instead.

p = ['The', 'Moon', 'this', 'is', 'great']
p = ['The', 'Moon', 'this', 'is']
e = ['The', 'Moon', 'this', 'is', 'great']
140347905054080 140347905023232

In [ ]:
m = [
    ['annabelle', 'bheem', 'charlie'],
    ['doraemon', 'oggy', 'fantastic 4'],
    ['gatorgaj', 'hagemaru', 'shinchan']
]

# normal .copy() only changes the id for the main list and no the lists or other
# non-primitive lists inside it.

n = m.copy()
n[0][2] = "Toys" # modifying in 'n'

print(f"m = {m}\nn = {n}") # changed in both 'm' and 'n'
print(id(m), id(n))        # main id's are different
print(id(m[0]), id(n[0]))  # id's for inner lists remain the same

m = [['annabelle', 'bheem', 'Toys'], ['doraemon', 'oggy', 'fantastic 4'], ['gatorgaj', 'hagemaru', 'shinchan']]
n = [['annabelle', 'bheem', 'Toys'], ['doraemon', 'oggy', 'fantastic 4'], ['gatorgaj', 'hagemaru', 'shinchan']]
140347905112960 140347905023616
140347905025152 140347905025152

In [ ]:
# by using the deepcopy function from the copy module, it creates correct copies
# of all non primitive data.

import copy

m = [
    ['annabelle', 'bheem', 'charlie'],
    ['doraemon', 'oggy', 'fantastic 4'],
    ['gatorgaj', 'hagemaru', 'shinchan']
]

n = copy.deepcopy(m)
n[0][2] = "Toys"           # modifying in 'n'

print(f"m = {m}\nn = {n}") # changed in only 'n'
print(id(m), id(n))        # main id's are different
print(id(m[0]), id(n[0]))  # id's for inner lists are also different

m = [['annabelle', 'bheem', 'charlie'], ['doraemon', 'oggy', 'fantastic 4'], ['gatorgaj', 'hagemaru', 'shinchan']]
n = [['annabelle', 'bheem', 'Toys'], ['doraemon', 'oggy', 'fantastic 4'], ['gatorgaj', 'hagemaru', 'shinchan']]
140347905113152 140347905106176
140347905106496 140347905038464

In [ ]:
# difference between .reverse() method and reversed() function

# reversed() function does not modify the original list or data
# it only returns a copy of the operation it performs.

f = [1, 2, 3, 4, 5, 6]
print(f"f = {list(reversed(f))}")

f = [6, 5, 4, 3, 2, 1]

In [ ]:
# the .reversed() method modifies the original list

f = [1, 2, 3, 4, 5, 6]
f.reverse()
print(f"f = {f}")

f = [6, 5, 4, 3, 2, 1]

In [ ]:
# dynamically create this list using an empty list
# 1. My way

question = [[1, 2, 3, 4], [5 ,6 ,7 ,8 ,9]]
answer = []

temp = []

for i in range(1, 5):
  temp.append(i)
answer.append(list(temp))
temp.clear()

for i in range(5, 10):
  temp.append(i)
answer.append(list(temp))
temp.clear()

print(answer)

[[1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [ ]:
# 2. using list comprehension

question = [[1, 2, 3, 4], [5 ,6 ,7 ,8 ,9]]
answer = []

answer.append([i for i in range(1, 5)])
answer.append([i for i in range(5, 10)])

print(answer)

[[1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [ ]:
# 3. using list comprehension in a single line

answer = [[i for i in range(1, 5)], [i for i in range(5, 10)]]
print(answer)

[[1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [ ]:
# return the position of the element in the matrix
# 1. my way

matrix = [
    [1, 3, 8],
    [9, 11, "Hello"],
    [13, 15, "World"]
]

element_to_find = input("Enter the element to find: ")
res = "not found"

if element_to_find.isnumeric():
    element_to_find = int(element_to_find)

for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        if matrix[i][j] == element_to_find:
            res = f"{element_to_find} found at {i}, {j}"

print(res)

8 found at 0, 2

In [ ]:
a = (1, ) # tuple with a single element
print(a)

(1,)

In [ ]:
a = (1, 2, 3) # normal tuple
print(a)

(1, 2, 3)

In [ ]:
a = tuple() # create an empty tuple
print(a)
a = tuple([1, 2, 3]) # tuple using the tuple class
print(a)

()
(1, 2, 3)

In [ ]:
print(type(a))

<class 'tuple'>

In [ ]:
a = tuple([1, 2, 3])
a.count(2)

1

In [ ]:
a = tuple([1, 2, 3])
a.index(3)

2

In [ ]:
# how to modify a tuple
# 1. type cast into another data type like a list

a = (1, 2, 3)
print(a) # before

a = list(a)
a.insert(len(a), 4)
a.insert(0, 0)
a = tuple(a)

print(a) # after

(1, 2, 3)
(0, 1, 2, 3, 4)

In [ ]:
# 2. using unpacking

a = (1, 2, 3)
a = tuple((0, *a, 4))
print(a)

(0, 1, 2, 3, 4)

In [ ]:
# packing

a, *b, c = 10, 20, 30, 40, 50
print(a, b, c)
print(a, *b, c)

10 [20, 30, 40] 50
10 20 30 40 50

In [ ]:
# modifying a mutable datatype inside a tuple

a = ([1, 2, 3], 5, 6, 7)
print(a[0])

a[0].append(4)
print(a)

[1, 2, 3]
([1, 2, 3, 4], 5, 6, 7)

In [ ]:
# set

s = {1, 2, 3, 4} # create a set
print(s)

{1, 2, 3, 4}

In [ ]:
s = set() # create an empty set
print(type(s))

<class 'set'>

In [ ]:
s = {"abc", 1, 2, 0, 0}
print(s) # set only stores unique values and stores them based on priority.

{0, 1, 'abc', 2}

In [ ]:
s = {[1, 2, 3], [4, 5, 6]} # set can't hold any unhashable data.

TypeError: unhashable type: 'list'

In [ ]:
print(hash("abcdefghijklmnopqrstuvwxyz"))           # converts data into a hash code
print(hash("123321123213132132132132132132131321"))

7171678745284387942
-2756880065823499278

In [ ]:
s = {(1, [2], 3), 4, 5, 6} # can't hold any unhashable data even if inside an hashable form.
print(s)

TypeError: unhashable type: 'list'

In [ ]:
# set theory

a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}

# basic way to get the union of sets
u = {*a, *b, *c}

print(a, b, c, u)

{1, 2, 3} {2, 3, 5, 7} {4, 6} {1, 2, 3, 4, 5, 6, 7}

In [ ]:
# get union of sets using the union method
u = a.union(b.union(c))
print(u)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}
u = {*a, *b, *c}

print(a.issubset(u))          # true if all values of 'a' are in 'u'
print(u.issuperset(a))        # true if all values of 'u' are in 'a'
print(a.difference(b))        # returns 'a' - 'b'
print(a.difference_update(b)) # updates value of 'a' with 'a' - 'b'

True
True
{1}
None

In [ ]:
a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}
u = {*a, *b, *c}

print(a.isdisjoint(c))          # true if there are no common values between two sets
print(a.discard(1))             # removes an element if present
print(a.intersection(b))        # returns the commmon values
print(a.intersection_update(b)) # updates value of 'a' with 'a' intersection 'b'

True
None
{2, 3}
None

In [ ]:
a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}
u = {*a, *b, *c}

print(a.pop())                   # removes a random element
print(a.remove(2))               # removes the particular element
print(a.symmetric_difference(b)) # returns the uncommon values of 'a' and 'b'
print(a.update(b))

1
None
{2, 5, 7}
None

In [ ]:
# dictionary
d = {
    1 : "One",
    2 : "two"
}

print(d[1]) # values can only be accessed by keys.

One

In [ ]:
d[2] = "Two"
print(d)   # updates the value of key if present.

d[3] = "Three"
print(d)   # else inserts a new key value pair.

{1: 'One', 2: 'Two'}
{1: 'One', 2: 'Two', 3: 'Three'}

In [ ]:
# count the number of each character in a string by using a dictionary.

s = "Hello World"
ch_count = {}

for ch in s.lower():
    if ch in ch_count:
        ch_count[ch] += 1
    else:
        ch_count[ch] = 1

print(ch_count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
s = """
Your Excellency, Honourable President,
Distinguished delegates from both nations,
Friends from the media,

Namaskar!
Kalimera!

At the very outset, I extend my heartfelt gratitude to the Honourable President for the warm welcome and gracious hospitality. Since the moment I set foot on the soil of Cyprus yesterday, the warmth and affection shown by the President and the people of this country have truly touched my heart.

A short while ago, I was conferred with a prestigious honour by Cyprus. This accolade is not mine alone — it is a tribute to the 140 crore Indians. It symbolises the enduring friendship between India and Cyprus. I express my sincere thanks, once again, for this honour.

Friends,

We attach great importance to our relations with Cyprus. Our shared commitment to values such as democracy and the rule of law forms the strong foundation of our partnership. The friendship between India and Cyprus is not one that has emerged out of circumstances, nor is it confined by borders.

It has withstood the test of time, again and again. In every era, we have upheld the spirit of cooperation, respect and mutual support. We honour each other’s sovereignty and territorial integrity.

Friends,

This visit marks the first by an Indian Prime Minister to Cyprus in over two decades. It presents a golden opportunity to script a new chapter in our bilateral relations. Today, the Honourable President and I held extensive discussions on all aspects of our partnership.

There are many similarities between Cyprus’s “Vision 2035” and our vision of a “Viksit Bharat 2047”. Therefore, we shall work together to shape our shared future. To provide strategic direction to our partnership, we will develop a concrete roadmap for the next five years.

To further strengthen our defence and security cooperation, the bilateral Defence Cooperation Programme will focus on defence industry collaboration. Separate dialogues will be initiated on cyber and maritime security.

We are deeply grateful to Cyprus for its consistent support of Bharat’s fight against cross-border terrorism. To combat terrorism, drug trafficking and arms smuggling, a mechanism will be established for real-time information exchange between our respective agencies. We both agree that there is immense potential in enhancing bilateral trade and investment.

Yesterday, during my interaction with the Honourable President, I sensed great enthusiasm and synergy within the business community regarding our economic ties. We are working towards concluding a mutually beneficial India-EU Free Trade Agreement by the end of the year.

This year, the “India-Cyprus-Greece Business and Investment Council” has also been launched. Such initiatives will boost bilateral trade and investment between our countries.

We also held detailed discussions on expanding cooperation in areas such as technology, innovation, health, agriculture, renewable energy, and climate justice. We are encouraged by the growing popularity of yoga and Ayurveda in Cyprus.

Cyprus is a preferred destination for Indian tourists as well. We shall work towards establishing direct air connectivity to facilitate their travel. We have resolved to expedite the finalisation of a Mobility Agreement.

Friends,

Within the European Union, Cyprus is our trusted partner. We extend our best wishes for Cyprus’s upcoming Presidency of the European Union next year. We are confident that, under your leadership, India-EU relations will reach new heights.

Both nations share common views on the need to reform the United Nations to make it more representative. We are grateful to Cyprus for its support of Bharat’s bid for permanent membership in the UN Security Council.

We have expressed concern over ongoing conflicts in West Asia and Europe. The adverse impact of these conflicts is not limited to their respective regions alone. We both agree that this is not an era of war.

Dialogue and the restoration of stability are the calls of humanity. We also discussed enhancing connectivity with the Mediterranean region. We concur that the India-Middle East-Europe Economic Corridor will pave the way for peace and prosperity in the region.

Honourable President,

I extend a cordial invitation to you to visit Bharat. I look forward to the opportunity of welcoming you to Bharat at the earliest.

Once again, I sincerely thank you for the exceptional hospitality and honour.
"""

In [ ]:
word_count = {}

for word in s.lower().split():
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print(word_count)

{'your': 2, 'excellency,': 1, 'honourable': 5, 'president,': 3, 'distinguished': 1, 'delegates': 1, 'from': 2, 'both': 4, 'nations,': 1, 'friends': 1, 'the': 42, 'media,': 1, 'namaskar!': 1, 'kalimera!': 1, 'at': 2, 'very': 1, 'outset,': 1, 'i': 9, 'extend': 3, 'my': 4, 'heartfelt': 1, 'gratitude': 1, 'to': 22, 'president': 3, 'for': 11, 'warm': 1, 'welcome': 1, 'and': 24, 'gracious': 1, 'hospitality.': 1, 'since': 1, 'moment': 1, 'set': 1, 'foot': 1, 'on': 6, 'soil': 1, 'of': 20, 'cyprus': 7, 'yesterday,': 2, 'warmth': 1, 'affection': 1, 'shown': 1, 'by': 6, 'people': 1, 'this': 6, 'country': 1, 'have': 4, 'truly': 1, 'touched': 1, 'heart.': 1, 'a': 12, 'short': 1, 'while': 1, 'ago,': 1, 'was': 1, 'conferred': 1, 'with': 4, 'prestigious': 1, 'honour': 2, 'cyprus.': 4, 'accolade': 1, 'is': 9, 'not': 4, 'mine': 1, 'alone': 1, '—': 1, 'it': 6, 'tribute': 1, '140': 1, 'crore': 1, 'indians.': 1, 'symbolises': 1, 'enduring': 1, 'friendship': 2, 'between': 5, 'india': 2, 'express': 1, 'sincere': 1, 'thanks,': 1, 'once': 2, 'again,': 2, 'honour.': 2, 'friends,': 3, 'we': 19, 'attach': 1, 'great': 2, 'importance': 1, 'our': 14, 'relations': 2, 'shared': 2, 'commitment': 1, 'values': 1, 'such': 3, 'as': 3, 'democracy': 1, 'rule': 1, 'law': 1, 'forms': 1, 'strong': 1, 'foundation': 1, 'partnership.': 2, 'one': 1, 'that': 4, 'has': 3, 'emerged': 1, 'out': 1, 'circumstances,': 1, 'nor': 1, 'confined': 1, 'borders.': 1, 'withstood': 1, 'test': 1, 'time,': 1, 'again': 1, 'again.': 1, 'in': 9, 'every': 1, 'era,': 1, 'upheld': 1, 'spirit': 1, 'cooperation,': 2, 'respect': 1, 'mutual': 1, 'support.': 1, 'each': 1, 'other’s': 1, 'sovereignty': 1, 'territorial': 1, 'integrity.': 1, 'visit': 2, 'marks': 1, 'first': 1, 'an': 2, 'indian': 2, 'prime': 1, 'minister': 1, 'over': 2, 'two': 1, 'decades.': 1, 'presents': 1, 'golden': 1, 'opportunity': 2, 'script': 1, 'new': 2, 'chapter': 1, 'bilateral': 4, 'relations.': 1, 'today,': 1, 'held': 2, 'extensive': 1, 'discussions': 2, 'all': 1, 'aspects': 1, 'there': 2, 'are': 7, 'many': 1, 'similarities': 1, 'cyprus’s': 2, '“vision': 1, '2035”': 1, 'vision': 1, '“viksit': 1, 'bharat': 2, '2047”.': 1, 'therefore,': 1, 'shall': 2, 'work': 2, 'together': 1, 'shape': 1, 'future.': 1, 'provide': 1, 'strategic': 1, 'direction': 1, 'partnership,': 1, 'will': 7, 'develop': 1, 'concrete': 1, 'roadmap': 1, 'next': 2, 'five': 1, 'years.': 1, 'further': 1, 'strengthen': 1, 'defence': 3, 'security': 2, 'cooperation': 2, 'programme': 1, 'focus': 1, 'industry': 1, 'collaboration.': 1, 'separate': 1, 'dialogues': 1, 'be': 2, 'initiated': 1, 'cyber': 1, 'maritime': 1, 'security.': 1, 'deeply': 1, 'grateful': 2, 'its': 2, 'consistent': 1, 'support': 2, 'bharat’s': 2, 'fight': 1, 'against': 1, 'cross-border': 1, 'terrorism.': 1, 'combat': 1, 'terrorism,': 1, 'drug': 1, 'trafficking': 1, 'arms': 1, 'smuggling,': 1, 'mechanism': 1, 'established': 1, 'real-time': 1, 'information': 1, 'exchange': 1, 'respective': 2, 'agencies.': 1, 'agree': 2, 'immense': 1, 'potential': 1, 'enhancing': 2, 'trade': 3, 'investment.': 1, 'during': 1, 'interaction': 1, 'sensed': 1, 'enthusiasm': 1, 'synergy': 1, 'within': 2, 'business': 2, 'community': 1, 'regarding': 1, 'economic': 2, 'ties.': 1, 'working': 1, 'towards': 2, 'concluding': 1, 'mutually': 1, 'beneficial': 1, 'india-eu': 2, 'free': 1, 'agreement': 1, 'end': 1, 'year.': 2, 'year,': 1, '“india-cyprus-greece': 1, 'investment': 2, 'council”': 1, 'also': 3, 'been': 1, 'launched.': 1, 'initiatives': 1, 'boost': 1, 'countries.': 1, 'detailed': 1, 'expanding': 1, 'areas': 1, 'technology,': 1, 'innovation,': 1, 'health,': 1, 'agriculture,': 1, 'renewable': 1, 'energy,': 1, 'climate': 1, 'justice.': 1, 'encouraged': 1, 'growing': 1, 'popularity': 1, 'yoga': 1, 'ayurveda': 1, 'preferred': 1, 'destination': 1, 'tourists': 1, 'well.': 1, 'establishing': 1, 'direct': 1, 'air': 1, 'connectivity': 2, 'facilitate': 1, 'their': 2, 'travel.': 1, 'resolved': 1, 'expedite': 1, 'finalisation': 1, 'mobility': 1, 'agreement.': 1, 'european': 2, 'union,': 1, 'trusted': 1, 'partner.': 1, 'best': 1, 'wishes': 1, 'upcoming': 1, 'presidency': 1, 'union': 1, 'confident': 1, 'that,': 1, 'under': 1, 'leadership,': 1, 'reach': 1, 'heights.': 1, 'nations': 2, 'share': 1, 'common': 1, 'views': 1, 'need': 1, 'reform': 1, 'united': 1, 'make': 1, 'more': 1, 'representative.': 1, 'bid': 1, 'permanent': 1, 'membership': 1, 'un': 1, 'council.': 1, 'expressed': 1, 'concern': 1, 'ongoing': 1, 'conflicts': 2, 'west': 1, 'asia': 1, 'europe.': 1, 'adverse': 1, 'impact': 1, 'these': 1, 'limited': 1, 'regions': 1, 'alone.': 1, 'era': 1, 'war.': 1, 'dialogue': 1, 'restoration': 1, 'stability': 1, 'calls': 1, 'humanity.': 1, 'discussed': 1, 'mediterranean': 1, 'region.': 2, 'concur': 1, 'india-middle': 1, 'east-europe': 1, 'corridor': 1, 'pave': 1, 'way': 1, 'peace': 1, 'prosperity': 1, 'cordial': 1, 'invitation': 1, 'you': 3, 'bharat.': 1, 'look': 1, 'forward': 1, 'welcoming': 1, 'earliest.': 1, 'sincerely': 1, 'thank': 1, 'exceptional': 1, 'hospitality': 1}

In [ ]:
copy_dict = word_count.copy()

for k in copy_dict:
    if word_count[k] < 7:
        word_count.pop(k)

print(word_count)

{'the': 42, 'i': 9, 'to': 22, 'for': 11, 'and': 24, 'of': 20, 'cyprus': 7, 'a': 12, 'is': 9, 'we': 19, 'our': 14, 'in': 9, 'are': 7, 'will': 7}

In [ ]:
# fromkeys() method is used to create a dict from an iterable
# and assigns null values to them.

s = "hello world"
char = dict.fromkeys(s)

print(char)

{'h': None, 'e': None, 'l': None, 'o': None, ' ': None, 'w': None, 'r': None, 'd': None}

In [ ]:
# .get() method is used to fetch a value but it allows us to set a default
# return value if not found.

num = {1: 'one', 2 : 'two', 3 : 'three'}

print(num.get(1))
print(num.get(5, "not found"))

one
not found

In [ ]:
# .setdefault allows us to set key value pairs only if they dont exist.
# if it exists then it doesn't update.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.setdefault(1, 999)
print(num)

num.setdefault(4, 'four')
print(num)

{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
# .items() returns a list of key value pairs in groups of tuples.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [ ]:
# .keys() returns a list of all keys.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.keys()

dict_keys([1, 2, 3])

In [ ]:
# .values() returns a list of all values.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.values()

dict_values(['one', 'two', 'three'])

In [ ]:
# .pop() removes and returns a random element.

num = {1: 'one', 2 : 'two', 3 : 'three'}

print(num.pop(3))
print(num)

three
{1: 'one', 2: 'two'}

In [ ]:
# .popitem() removes and returns a key-value pair in a tuple.

num = {1: 'one', 2 : 'two', 3 : 'three'}

print(num.popitem())

(3, 'three')

In [ ]:
num = {1: 'one', 2 : 'two', 3 : 'three'}

num.update({1: 'one', 2 : 'two', 3 : 'three', 4 : 'four'})
print(num)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
run = True

while run:
    d = float(input("enter a number: "))
    print(f"{d} * 2 = {d * 2}")
    run = bool(int(input("enter '0' to exist or any other number to continue: " )))

123.0 * 2 = 246.0
15.0 * 2 = 30.0
456.0 * 2 = 912.0

In [ ]:
# In Python, iter() and next() are fundamental functions used to interact
# with iterators, which are objects that represent a stream of data and can
# be traversed one element at a time.

s = [101, 102, 103, 104]
i = iter(s)                # creates a manually iterable object.

print(next(i, "end"))      # next function retrieves the next value, and can take
print(next(i, "end"))      # a default value as any to avoid null error after the
print(next(i, "end"))      # iterable runs out of values.
print(next(i, "end"))
print(next(i, "end"))      # ran out of values.
print(next(i, "end"))      # ran out of values.

101
102
103
104
end
end

# Functions

In [ ]:
# function definition

def greet():
    print("Hello World!")

greet()
print(greet)

Hello World!
<function greet at 0x7fa54b1adab0>

In [ ]:
# functions with parameters

def greet(name):
    print(f'Hello {name}!')

greet('Rohit')        # calling function with arguments
greet('Aakash')
greet('Yash')

Hello Rohit!
Hello Aakash!
Hello Yash!

In [ ]:
# function with return values

def sum(a, b):
    print("executable code after return")
    return a + b
    print("non executable code after return") # this line won't run if return statement is executed

print(sum(10, 24))  # prints the return value of sum()

executable code after return
34

In [ ]:
# use and modification of global variables in a function

a = 0

def set_value_of_a(value):
    global a
    a = value
    return True

print(set_value_of_a(123))
print(a)

True
123

In [ ]:
# write a function to print a table of any number

def print_table(num):
    for i in range(1, 11):
        print(f"{num} x {i} = {num * i}")

print_table(45)

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

In [ ]:
# a recursive function is a function which calls itself.

i = 0
def recur():
    global i
    print(i)
    i += 1
    recur()

In [ ]:
recur()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857
2858
2859
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
2903
2904
2905
2906
2907
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
2943
2944
2945
2946
2947
2948
2949
2950
2951
2952
2953
2954
2955
2956
2957
2958
2959
2960
2961
2962
2963
2964
2965
2966
2967

RecursionError: maximum recursion depth exceeded while calling a Python object

In [ ]:
# create a function to count upto a certain number using recursion.

def count(num):
    if (num <= 0):
        print(num)
        # raise Exception # use this line to see the call stack
        return None
    else:
        count(num -1)
        print(num)
        return None

count(11)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# create a recursive function to find the factorial.

def factorial(num):
    if num <= 0:
        return 1
    else:
        return num * factorial(num - 1)

factorial(5)

120

In [ ]:
# break statement can be used to break out of the nearest loop.

for i in range(10):
    if (i == 7):
        break
    print(i)

0
1
2
3
4
5
6

In [ ]:
# continue statement can be used to skip an iteration of a loop.

for i in range(10):
    if (i == 7 or i == 8):
        continue
    print(i)

0
1
2
3
4
5
6
9

In [ ]:
# using break statement to create a simple search algorithm.

colour = ['red', 'green', 'blue', 'purple']
for i, v in enumerate(colour):
    if (v == 'blue'):
        print(f'blue found at position {i}')
        break

blue found at position 2

In [ ]:
# use of map() function.

a = [1, 2, 3, 4, 5]
b = ["hello", "world", "this", "is", "python"]

c = []

def double(value):
    return value * 2

for i in a:
    c.append(double(i))

print(c)

[2, 4, 6, 8, 10]

In [ ]:
# use of map() function.

print(list(map(double, a)))
print(list(map(double, b)))

[2, 4, 6, 8, 10]
['hellohello', 'worldworld', 'thisthis', 'isis', 'pythonpython']

In [ ]:
# lambda function is a single line anonymous function which can be used for temporary return equations.

a = [1, 2, 3, 4, 5]

print(list(map(lambda value: value ** 2, a)))

[1, 4, 9, 16, 25]

In [ ]:
# lambda functions can also be stored in variables and hence can be deleted.

sum = lambda x, y: x + y

print(sum(5, 6))
del sum

11

In [ ]:
# lambda function can also be called upon.

print((lambda x : x * 2)(5))

10

In [ ]:
# lambda function can also take arbitrary arguments

arbitrary = lambda *x : x

print(arbitrary(1, 2, 3, 4, 5, 6))

(1, 2, 3, 4, 5, 6)

In [ ]:
# convert the list of strings to upper case using a lambda function map.

b = ["hello", "world", "this", "is", "python"]

print(tuple(map(lambda s : s.upper(), b)))

('HELLO', 'WORLD', 'THIS', 'IS', 'PYTHON')

In [ ]:
# create the map() function.

def my_map(funct, collection):
    c = []
    for i in collection:
        c.append(funct(i))
    return c

a = [1, 2, 3, 4, 5]

my_map(lambda x : x ** 2, a)

[1, 4, 9, 16, 25]

In [ ]:
# the yield keyword holds all the return values and returns them at the end as a generator object.

def my_map(funct, collection):
    for i in collection:
        yield funct(i)

b = ["hello", "world", "this", "is", "python"]

print(list(my_map(lambda s : s.capitalize(), b)))

['Hello', 'World', 'This', 'Is', 'Python']

In [ ]:
# a function can return another inner function.

# times() creates a function temp() and returns it.

def times(multiply_by):
    def temp(num):
        return num * multiply_by
    return temp

double = times(2) # double becomes temp()
triple = times(3)

print(double(5))
print(triple(6))

10
18

In [ ]:
# make print

def make_print():
    return print

my_print = make_print()

my_print("hellow world this shit is fking insane.")

my_print

hellow world this shit is fking insane.

In [ ]:
# write a function that returns a function to calculate powers.

def exponent(power_by):
    def temp(num):
        return num ** power_by
    return temp

square = exponent(2)
cube = exponent(3)

print(square(5))
print(cube(6))

25
216

In [ ]:
def outer(num, count):
    def inner():
        for i in range(num):
            print(i)
    for i in range(count):
        inner()
        # print() # comment out for new line.

outer(num = 3, count = 2)

0
1
2
0
1
2

In [ ]:
# goofy ahh test program to test nonlocal keyword.

def outer(num, count):
    result = {}

    def inner():
        nonlocal result
        result = []      # replaces the dictionary outside with a list
        for i in range(num):
            result.append(i)
        print(result)

    for i in range(count):
        inner()
        # print() # comment out for new line.
    return result

outer(num = 3, count = 3)

[0, 1, 2]
[0, 1, 2]
[0, 1, 2]

[0, 1, 2]

In [ ]:
# positional and keyword arguments.

def intro(name, age, location):
    return f"My name is {name}, I am from {location} and I am {age} years old."

# positional arguments. (when you know the order to pass values in.)
print(intro("Rohit", 20, "Nalasopara"))
print(intro(21, "Nalasopara", "Yash"))

# keyword arguments. (when you don't know the order of parameters.)
print(intro(age = 21, location = "Nalasopara", name = "Aakash"))
print(intro("piyush", location="NSP", age=21))

My name is Rohit, I am from Nalasopara and I am 20 years old.
My name is 21, I am from Yash and I am Nalasopara years old.
My name is Aakash, I am from Nalasopara and I am 21 years old.
My name is piyush, I am from NSP and I am 21 years old.

In [ ]:
def greet(name):
    """
    This function takes a name as input
    and returns a greeting message.
    """
    return f"Hello, {name}!"

# Calling the function normally
print(greet("Rohit"))

# Accessing the docstring using the help() function
help(greet)

# You can also access it directly
print("greet.__doc__", greet.__doc__)

Hello, Rohit!
Help on function greet in module __main__:

greet(name)
    This function takes a name as input
    and returns a greeting message.

greet.__doc__
    This function takes a name as input
    and returns a greeting message.

In [ ]:
# Function with arbitrary keyword arguments (collected as a dictionary)
def adv_intro(**data):
    """Returns a formatted intro using provided keyword arguments."""

    # Use .get() to safely access values with defaults
    return f"My name is {data.get('name', 'Josh')}, I am from {data.get('location', 'Mumbai')} and I am {data.get('age', 18)} years old."


# No arguments passed — all defaults used
print(adv_intro())

# Only 'name' provided
print(adv_intro(name="Rohit"))

# 'name' and 'location' provided
print(adv_intro(name="Yash", location="Nalasopara"))

# All expected keys + an unused extra key ('random')
print(adv_intro(name="Aakash", location="Nalasopara", age=21, random=None))

My name is Josh, I am from Mumbai and I am 18 years old.
My name is Rohit, I am from Mumbai and I am 18 years old.
My name is Yash, I am from Nalasopara and I am 18 years old.
My name is Aakash, I am from Nalasopara and I am 21 years old.

In [ ]:
# datatypes of parameters can be specified.
# datatype of return values can also be specified.
# although they don't actually stop the user from giving other datatypes.

def upper(value : str) -> str:
    return value.upper()

print(upper("hello world"))

HELLO WORLD

In [ ]:
# write a function to print fibonacci series.

def fibonacci(count : int):
    num1 = 0
    num2 = 1
    print(num1)
    print(num2)

    for i in range(count - 2):
        temp = num1
        num1 = num2
        num2 += temp
        print(num2)

fibonacci(10)

0
1
1
2
3
5
8
13
21
34

In [ ]:
# fibonacci series using lists.

def fib(n):
    res = [0, 1]
    for i in range(2, n):
        res.append(res[i - 1] + res[i - 2])
    return res

print(fib(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# write a program to print fibonacci series using recursion

def fibonacci_recursive(n : int) -> int:
  if n <= 1:
    return n
  else:
    return(fibonacci_recursive(n-1) + fibonacci_recursive(n-2))

for i in range(10):
    print(fibonacci_recursive(i))

0
1
1
2
3
5
8
13
21
34

In [ ]:
# write a program to count vowel count in a sentence.
# 1. my way

def vowel_count(sentence : str) -> int:
    vowels = ['a', 'e', 'i', 'o', 'u']
    count = 0
    for i in sentence.lower():
        if i in vowels:
            count += 1
    return count

s = "Hello world this is python."
print(f"number of vowels in this sentence: {vowel_count(s)}")

number of vowels in this sentence: 6

In [ ]:
# 2. using comprehensions.

s = "Hello world this is python."
count = sum(1 for ch in s if ch in "aeiou")
print(count)  # Output: number of vowels

6

In [ ]:
# write a program to remove a particular string from a string.
# without .replace() method.

def remove_str(sentence : str, remove : str) -> str:
    result = ""

    i = 0
    while(i < len(sentence)):
        if (sentence[i : i + len(remove)] == remove):
            i += len(remove)
        else:
            result += sentence[i]
            i += 1

    return result

sentence = "hello world this is python"
remove = "wor"

print(remove_str(sentence, remove))

hello ld this is python

In [ ]:
# write a program to remove a particular string from a string.
# without .replace() method.

def remove_str(sentence, remove):
    for i, v in enumerate(sentence):
        if remove == sentence[i:i + len(remove)]:
            sentence = sentence[:i] + sentence[i + len(remove):]
    return sentence

sentence = "hello world this is python"
remove = "o"

print(remove_str(sentence, remove))

hell wrld this is pythn

In [ ]:
def repl_count(s : str, ch_to_repl : str, ch_repl_with : str, count : int = 1):
    res = ""
    for ch in s:
        if (ch == ch_to_repl and count):
            res += ch_repl_with
            count -= 1
        else:
            res += ch
    return res

print(repl_count("Hello World", 'l', 'r', 2))

In [ ]:
x = ~10
bits = 8
print(f'{x & (2**bits - 1):0{bits}b}')

11110101

# OOPS