In [ ]:
a=10

In [ ]:
print (a)

10

In [ ]:
print (type(a))

<class 'int'>

In [ ]:
print (id(a))

140092997255696

In [ ]:
b = 103.4

In [ ]:
print (type(b))

<class 'float'>

In [ ]:
a = float(a)
print (type(a))

<class 'float'>

In [ ]:
c = "hello"
print (c)

hello

In [ ]:
d = 1+0j

In [ ]:
print (type(d))

<class 'complex'>

In [ ]:
e = None
print (type(e))

<class 'NoneType'>

In [ ]:
f = True
print (type(f))

<class 'bool'>

In [ ]:
15/4

3.75

In [ ]:
10+2

12

In [ ]:
13-4

9

In [ ]:
print (12*3)

36

In [ ]:
print (18//4)

4

In [ ]:
18%4

2

In [ ]:
a,b

(10.0, 103.4)

In [ ]:
print("a+b=",a+b,sep="  ")
print("a-b=",a-b,sep="  ")
print("a*b=", a*b)
print ("a**b=",a**b, sep="  ")

a+b=  113.4
a-b=  -93.4
a*b= 1034.0
a**b=  2.511886431509613e+103

In [ ]:
a

10.0

In [ ]:
a=a+2
print (a)

12.0

In [ ]:
a+=2
print(a)

14.0

In [ ]:
a-=2
print(a)

12.0

In [ ]:
a*=2
print (a)

24.0

In [ ]:
a/=2
print(a)

12.0

In [ ]:
a%=2
print (a)

0.0

In [ ]:
10==10

True

In [ ]:
'10'==10

False

In [ ]:
1 and 1

1

In [ ]:
bool(2 and "")

False

In [ ]:
bool(None)

False

In [ ]:
bool("")

False

In [ ]:
bool(0)

False

In [ ]:
bool({})

False

In [ ]:
bool([])

False

In [ ]:
1 and 0 or True

True

In [ ]:
1 or 0 and True

1

In [ ]:
4**2**3

65536

In [ ]:
4**8

65536

In [ ]:
not 1

False

In [ ]:
not True

False

In [ ]:
not 0

True

In [ ]:
7 & 8

0

In [ ]:
7|8

15

In [ ]:
0b1111

15

In [ ]:
0x1111

4369

In [ ]:
0xf

15

In [ ]:
0o111

73

In [ ]:
0o1111

585

In [ ]:
~10

-11

In [ ]:
~-11

10

In [ ]:
7^8

15

In [ ]:
8^8

0

In [ ]:
num = 10
if num>0:
    print ("POSITIVE")
    print (num)
else:
    print ("NEGATIVE")

POSITIVE
10

In [ ]:
num = 10
if num>0:
    print ("POSITIVE")
       print (num)
    else:
    print ("NEGATIVE")

IndentationError: unexpected indent (3346571938.py, line 4)

In [ ]:
num = 10
if num>0:

In [ ]:
num = 10
if num>0:
   pass

In [ ]:
7>>2

In [ ]:
7<<2

In [ ]:
if False:
    print ("true statement")
else:
    print ("false statement ")

In [ ]:
num = 114
if num%2:
    print (num," is odd")
else:
    print (num," is even")

In [ ]:
print (input("enter a number"))

In [ ]:
num = int(input('enter a number'))
print (type(num))

In [ ]:
num =  int(input('enter a number'))
if num%2:
    print (num," is odd")
else:
    print (num," is even")

In [ ]:
num =  int(input('enter a number'))
if num%2:
    print (num," is odd")
else:
    print (num," is even")

In [ ]:
chr(65)

In [ ]:
ord('A')

In [ ]:
ord('0')

In [ ]:
chr(9)

In [ ]:
print('It is "Python"')

In [ ]:
print ("it's python")

In [ ]:
print ('it\'s "python"')

In [ ]:
print ("it's \"python\"")

In [ ]:
print ("\\n is for new line")

In [ ]:
print ('it\'s "\\t" for tab space')

In [ ]:
print ("/home/quastech/yash/pytho.ipynb")

In [ ]:
print(r'\t\n')

In [ ]:
name = "Yash"
age = 21
salary = 20000

In [ ]:
print ("my name is",name, "i am",age,"years old and my salary is", salary )

In [ ]:
print(f"my name is {name}, i am {age}, years old and my salary is{salary}")

In [ ]:
print ("""hello
       hi
       """)

In [ ]:
age = 10
t = 0
if age > 12:
    t = 10
else:
    t = 5
print(t)

In [ ]:
age = 19
t = 10 if age>12 else 5
print(t)

In [ ]:
32+2

In [ ]:
num = 20
result= f"{num} is odd" if num%2 else f"{num} is even"
print(result)

In [ ]:
a=10
b=20
c=a
a=b
b=c
print (a,b)

In [ ]:
a=10
b=20
a,b=b,a
print (a,b)

In [ ]:
a=10
b=20
a=a+b
b=a-b
a=a-b
print(a,b)

In [ ]:
s = "Hello World"
s[5]

In [ ]:
s = 'Hello World'
s[0:11]

In [ ]:
s[:]

In [ ]:
s = "0123456789"
s[0:len(s):1]

In [ ]:
s[-1]

In [ ]:
s[::-1]

In [ ]:
print(s[0::2]) # print even indexes
print(s[1::2]) # print odd indexes
print(s[::-1]) # print in reverse

In [ ]:
print(s[5:1:-1])

In [ ]:
print(s[::-2]) # print odd indexes in reverse
print(s[-2::-2]) # print even indexes in reverse

In [ ]:
s = "abcdefghij" # practice
print(s[4::5])
print(s[::3])
print(s[5::-5])
print(s[7:0:-3])
print(s[:0:-4])

In [ ]:
# string methods

s = "Hello World"

print("uppercase:", s.upper())
print("lowercase:", s.lower())
print("title case:", s.title())
print("capitalised:", s.capitalize())
print("index of 'W':", s.index("W"))
print("found 'r' at:", s.find("r"))
print("count of 'l':", s.count("l"))
print("casefold:", s.casefold())
print("split using ' ':", s.split(" "))
print("replaced 'H' with 'j':", s.replace("H", "J"))
"=".join(['Hello', 'World', 'this', 'is', 'python'])

In [ ]:
# string methods

s = "            Hello        world             "

print("removed whitespace from left only:", s.lstrip())
print("removed whitespace from right only:", s.rstrip())
print("removed whitespace from both sides:", s.strip())

In [ ]:
# string methods

s = "apple"

ljust_text = s.ljust(10, "*")
rjust_text = s.rjust(10, "-")
center_text = s.center(50, "~")

print(ljust_text)
print(rjust_text)
print(center_text)

In [ ]:
# string methods

s = "hEllo WoRld"

print(s.swapcase())

In [ ]:
# string methods

s = "Hello\n World\n this is Python"

print(s.splitlines())

In [ ]:
# string methods

name = "Rohit"
age = 20
score = 123.123

sentence_1 = "Hi, I am {} and I am {} years old"
sentence_2 = "Hi, I am {var1} and I am {var2} years old"

print(sentence_1.format(name, age))
print(sentence_2.format(var1=name, var2=age))

In [ ]:
"hi""hello"

In [ ]:
"hi"+"hello"

In [ ]:
"Hi " * 3

In [ ]:
# string formatting

print("hi, i am %s and i am %d years old and i scored %.2f" % (name, age, score))
print(f"Score: {score:.2f}")

In [ ]:
# if-else

a, b = 10, 20

if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{b} is greater than {a}")

In [ ]:
# comparing 3 numbers using if-else

a, b, c = 40, 30, 20

if (a > b):
    if (a > c):
        print(f"{a} is greater than {b} and {c}")
else:
    if (b > c):
        print(f"{b} is greater than {a} and {c}")
    else:
        print(f"{c} is greater than {a} and {b}")

In [ ]:
# comparing 3 numbers using elif

a, b, c = 40, 30, 50

if (a > b) and (a > c):
    print(f"{a} is greater than {b} and {c}")
elif (b > c):
    print(f"{b} is greater than {a} and {c}")
else:
    print(f"{c} is greater than {a} and {b}")

In [ ]:
# switch case version in python

num = 3
match num:
    case 1:
        print("one")
    case 2:
        print("two")
    case 3:
        print("three")
    case _:
        print("not found")

In [ ]:
# for iterator

for i in "123":
    print("Hi!")

In [ ]:
for i in range(10):
    print("hi!", i)

In [ ]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

In [ ]:
i = 0

while (i < 4):
    print(i)
    i += 1

In [ ]:
# print a table of any number

snum = int(input("Enter a number: "))
i = 1
while i < 11:
    print(f"{num} x {i} = {num * i}")
    i += 1

In [ ]:
# DO NOT RUN THIS. IT WILL CRASH YOUR COMPUTER

# a = [1, 2]

# for i in a:
#     a.append(i + 1)

In [ ]:
print(a)

In [ ]:
# find certain characters and their index in a string
# 1. my way

s = "Python is a Programming language"
num = 0
for i in s.casefold():
    if i == 'g':
        print('g', num)
    if i == 'm':
        print('m', num)
    if i == 'p':
        print('p', num)
    num += 1

In [ ]:
# 2. using enumarate

s = "Python is a Programming language"

for index, ch in enumerate(s):
    if ch in "gmp":
        print(f"{ch} found at {index}")

In [ ]:
# 3a. using index to call for value (for loop)

s = "Python is a Programming language"

for i in range(len(s)):
    if s[i].lower() in "gmp":
        print(f"{s[i]} found at {i}")

In [ ]:
# 3b. using index to call for value (while loop)

s = "Python is a Programming language"
i = 0

while i < len(s):
    if s[i].lower() in "gmp":
        print(f"{s[i]} found at {i}")
    i += 1

In [ ]:
# 4. using external variable as an index

s = "Python is a Programming language"
index = 0

for ch in s.casefold():
    if ch in "gmp":
        print(f"{ch} found at {index}")
    index += 1

In [ ]:
# count the occurence of characters in a string

s = "Python is a Programming Language"

count = 0
ch_to_check = input('enter the char to count for:')

for ch in s:
    if ch_to_check.lower() == ch.lower():
        count += 1

print(f"{ch_to_check} occurred {count} times in the sentence.")

In [ ]:
# write a program to check if the string is a palindrome

s = input("Enter a string: ")

if s == s[::-1]:
    print(f"{s} is a palindrome")
else:
    print(f"{s} is not a palindrome")

In [ ]:
# write a program to check if the string is a palindrome using basics

s_original = input("Enter a string: ")
s_reversed = ""

for ch in s_original:
    s_reversed = ch + s_reversed

if s_original == s_reversed:
    print(f"{s_original} is a palindrome")
else:
    print(f"{s_original} is not a palindrome")

In [ ]:
# write a program to check if the string is an anagram.

s1 = input("Enter a string: ")
s2 = input("Enter a string: ")

if sorted(s1) == sorted(s2):
    print(f"{s1} and {s2} are anagrams")
else:
    print(f"{s1} and {s2} are not anagrams")

In [ ]:
# write a program to check if the string is an anagram using basics.

s1 = input("Enter a string: ")
s2 = input("Enter a string: ")
result = "Anagrams"

if len(s1) != len(s2):
  result = "Not Anagrams"

for i in range(len(s1)):
    if s1.count(s1[i]) != s2.count(s1[i]):
        result = "Not Anagrams"
        break

print(result)

In [ ]:
# write a program to check if the string is an anagram using dictionaries.

s1 = input("Enter the first string: ").lower()
s2 = input("Enter the second string: ").lower()

if len(s1) != len(s2):
    print(f"{s1} and {s2} are not anagrams")

char_count = {}

for ch in s1:
    char_count[ch] = char_count.get(ch, 0) + 1

is_anagram = True
for ch in s2:
    if ch not in char_count or char_count[ch] == 0:
        print(f"{s1} and {s2} are not anagrams")
        is_anagram = False
        break
    else:
        char_count[ch] -= 1

if is_anagram:
    print(f"{s1} and {s2} are anagrams")

In [ ]:
# write a program to count how many times each letter occured.

s = "Hello World!"

for ch in s.lower():
  count = 0
  for i in s.lower():
    if i == ch:
      count += 1
  print(f"{ch} occured {count} times")

# Non Primitive Data

In [ ]:
# LISTS

a = []
print(type(a))

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
c = [1, 'a', 2, 'b']

print(a, b, c)

In [ ]:
a = list("abc"+"123")
a

In [ ]:
my_list = [1, 1.5, "Hello", True, None, 2 + 3j, [1, 2, 3],
           (1, 2, 3), {1, 2, 3}, {1 : "one", 2 : "two"},
           print, tuple]
my_list

In [ ]:
print(my_list[10])

In [ ]:
my_list[10]("Hello World, this calls the print function")

In [ ]:
my_list[6][1] # 6th index has a list [1, 2, 3] and it's 1st index holds a value of 2.

In [ ]:
# iterating through the list

x = ['a', 'b', 'c', 'd', 'e', 'f']

for i in range(len(x)):
    print(i, x[i])

In [ ]:
# iterating through odd indexes of the list

x = ['a', 'b', 'c', 'd', 'e', 'f']

for i in range(1, len(x), 2):
    print(i, x[i])

In [ ]:
# adds an element to the end of the list (at the -1 position specifically)

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.append('g')
print(x)

In [ ]:
# inserts an element at a particular position

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.insert(0, 'A')
x

In [ ]:
# returns the index of the element

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.index("e")

In [ ]:
# removes and returns the elements at the specified index or index -1 by default

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.pop()

In [ ]:
# removes the element specified

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.remove('f')
print(x)

In [ ]:
# reverses the entire list

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.reverse()
print(x)

In [ ]:
# sorts the entire list

x = ['a', 'b', 'c', 'd', 'e', 'f']

x.sort()
print(x)

In [ ]:
# add the letters 'a' to 'g' at the beginning of the list
# 1. using reversed string.

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

for ch in s[::-1]:
    r.insert(0, ch)

print(r)

In [ ]:
# 2. using normal string

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

for i in range(len(s)):
    r.insert(i, s[i])

print(r)

In [ ]:
# 3. using negative indexing

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

for ch in s:
    r.insert(-4, ch)

print(r)

In [ ]:
# 4. using negative indexing and chr()

r = ['h', 'i', 'j', 'k']

for i in range(7):
    r.insert(-4, chr(97 + i))
    print(r)

In [ ]:
# using the 'Python' way

r = ['h', 'i', 'j', 'k']
s = 'abcdefg'

r = list(s) + r
print(r)

In [ ]:
# remove certain elements from a list
# 1. using the remove() menthod

elements = ['a', 'b', 'c', 1, 'z']
r = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

for ch in elements:
    if ch in r:
        r.remove(ch)

print(r)

In [ ]:
#2. using the pop() method

elements = ['a', 'b', 'c', 1, 'z']
r = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

for ch in elements:
    if r.count(ch) > 0:
        r.pop(r.index(ch))
print(r)

In [ ]:
# acessing the list using the enumerate() function

elements = ['a', 'b', 'c', 'd', 'e']

for index, value in enumerate(elements):
    print(index, value)

In [ ]:
# multi-dimensional lists

m = [
    ['annabelle', 'bheem', 'charlie'],
    ['doraemon', 'oggy', 'fantastic 4'],
    ['gatorgaj', 'hagemaru', 'shinchan']
]

print(m[0])           # ['annabelle', 'bheem', 'charlie']
print(m[0][1])        # bheem
print(m[0][1][0])     # b
print(m[0][1][4::1])  # m
print(m[2][2][4:])    # chan
print(m[1][0][:4])    # dora

In [ ]:
e = ['The', 'Moon']
e.insert(1, "Hello")
print(e)

In [ ]:
e = ['The', 'Moon']
e.append("Hello")
print(e)

In [ ]:
e = ['The', 'Moon']
e.extend(["this", "is", "great"])
print(e)

In [ ]:
e = ['The', 'Moon', 'this', 'is', 'great']
p = e
print("p =", p)     # same as e
p.pop()             # remove an element from 'p'
print("p =", p)     # 'p' changed
print("e =", e)     # 'e' changed too.
print(id(p), id(e)) # cause they transferred id instead.

In [ ]:
e = ['The', 'Moon', 'this', 'is', 'great']
p = e.copy()        # using the list.copy() method
print("p =", p)     # same as e
p.pop()             # remove an element from 'p'
print("p =", p)     # 'p' changed
print("e =", e)     # 'e' didn't change.
print(id(p), id(e)) # cause they transferred 'Data' instead.

In [ ]:
m = [
    ['annabelle', 'bheem', 'charlie'],
    ['doraemon', 'oggy', 'fantastic 4'],
    ['gatorgaj', 'hagemaru', 'shinchan']
]

# normal .copy() only changes the id for the main list and no the lists or other
# non-primitive lists inside it.

n = m.copy()
n[0][2] = "Toys" # modifying in 'n'

print(f"m = {m}\nn = {n}") # changed in both 'm' and 'n'
print(id(m), id(n))        # main id's are different
print(id(m[0]), id(n[0]))  # id's for inner lists remain the same

In [ ]:
# by using the deepcopy function from the copy module, it creates correct copies
# of all non primitive data.

import copy

m = [
    ['annabelle', 'bheem', 'charlie'],
    ['doraemon', 'oggy', 'fantastic 4'],
    ['gatorgaj', 'hagemaru', 'shinchan']
]

n = copy.deepcopy(m)
n[0][2] = "Toys"           # modifying in 'n'

print(f"m = {m}\nn = {n}") # changed in only 'n'
print(id(m), id(n))        # main id's are different
print(id(m[0]), id(n[0]))  # id's for inner lists are also different

In [ ]:
# difference between .reverse() method and reversed() function

# reversed() function does not modify the original list or data
# it only returns a copy of the operation it performs.

f = [1, 2, 3, 4, 5, 6]
print(f"f = {list(reversed(f))}")

In [ ]:
# the .reversed() method modifies the original list

f = [1, 2, 3, 4, 5, 6]
f.reverse()
print(f"f = {f}")

In [ ]:
# dynamically create this list using an empty list
# 1. My way

question = [[1, 2, 3, 4], [5 ,6 ,7 ,8 ,9]]
answer = []

temp = []

for i in range(1, 5):
  temp.append(i)
answer.append(list(temp))
temp.clear()

for i in range(5, 10):
  temp.append(i)
answer.append(list(temp))
temp.clear()

print(answer)

In [ ]:
# 2. using list comprehension

question = [[1, 2, 3, 4], [5 ,6 ,7 ,8 ,9]]
answer = []

answer.append([i for i in range(1, 5)])
answer.append([i for i in range(5, 10)])

print(answer)

In [ ]:
# 3. using list comprehension in a single line

answer = [[i for i in range(1, 5)], [i for i in range(5, 10)]]
print(answer)

In [ ]:
# return the position of the element in the matrix
# 1. my way

matrix = [
    [1, 3, 8],
    [9, 11, "Hello"],
    [13, 15, "World"]
]

element_to_find = input("Enter the element to find: ")
res = "not found"

if element_to_find.isnumeric():
    element_to_find = int(element_to_find)

for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        if matrix[i][j] == element_to_find:
            res = f"{element_to_find} found at {i}, {j}"

print(res)

In [ ]:
a = (1, ) # tuple with a single element
print(a)

(1,)

In [ ]:
a = (1, 2, 3) # normal tuple
print(a)

(1, 2, 3)

In [ ]:
a = tuple() # create an empty tuple
print(a)
a = tuple([1, 2, 3]) # tuple using the tuple class
print(a)

()
(1, 2, 3)

In [ ]:
print(type(a))

<class 'tuple'>

In [ ]:
a = tuple([1, 2, 3])
a.count(2)

1

In [ ]:
a = tuple([1, 2, 3])
a.index(3)

2

In [ ]:
# how to modify a tuple
# 1. type cast into another data type like a list

a = (1, 2, 3)
print(a) # before

a = list(a)
a.insert(len(a), 4)
a.insert(0, 0)
a = tuple(a)

print(a) # after

(1, 2, 3)
(0, 1, 2, 3, 4)

In [ ]:
# 2. using unpacking

a = (1, 2, 3)
a = tuple((0, *a, 4))
print(a)

(0, 1, 2, 3, 4)

In [ ]:
# packing

a, *b, c = 10, 20, 30, 40, 50
print(a, b, c)
print(a, *b, c)

10 [20, 30, 40] 50

In [ ]:
# modifying a mutable datatype inside a tuple

a = ([1, 2, 3], 5, 6, 7)
print(a[0])

a[0].append(4)
print(a)

[1, 2, 3]
([1, 2, 3, 4], 5, 6, 7)

In [ ]:
# set

s = {1, 2, 3, 4} # create a set
print(s)

{1, 2, 3, 4}

In [ ]:
s = set() # create an empty set
print(type(s))

<class 'set'>

In [ ]:
s = {"abc", 1, 2, 0, 0}
print(s) # set only stores unique values and stores them based on priority.

{0, 1, 2, 'abc'}

In [ ]:
s = {[1, 2, 3], [4, 5, 6]} # set can't hold any unhashable data.

In [ ]:
print(hash("abcdefghijklmnopqrstuvwxyz"))           # converts data into a hash code
print(hash("123321123213132132132132132132131321"))

-2492762274252545073
5984670602542371243

In [ ]:
s = {(1, [2], 3), 4, 5, 6} # can't hold any unhashable data even if inside an hashable form.
print(s)

TypeError: unhashable type: 'list'

In [ ]:
# set theory

a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}

# basic way to get the union of sets
u = {*a, *b, *c}

print(a, b, c, u)

{1, 2, 3} {2, 3, 5, 7} {4, 6} {1, 2, 3, 4, 5, 6, 7}

In [ ]:
# get union of sets using the union method
u = a.union(b.union(c))
print(u)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}
u = {*a, *b, *c}

print(a.issubset(u))          # true if all values of 'a' are in 'u'
print(u.issuperset(a))        # true if all values of 'u' are in 'a'
print(a.difference(b))        # returns 'a' - 'b'
print(a.difference_update(b)) # updates value of 'a' with 'a' - 'b'

True
True
{1}
None

In [ ]:
a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}
u = {*a, *b, *c}

print(a.isdisjoint(c))          # true if there are no common values between two sets
print(a.discard(1))             # removes an element if present
print(a.intersection(b))        # returns the commmon values
print(a.intersection_update(b)) # updates value of 'a' with 'a' intersection 'b'

True
None
{2, 3}
None

In [ ]:
a = {1, 2, 3}
b = {2, 3, 5, 7}
c = {4, 6}
u = {*a, *b, *c}

print(a.pop())                   # removes a random element
print(a.remove(2))               # removes the particular element
print(a.symmetric_difference(b)) # returns the uncommon values of 'a' and 'b'
print(a.update(b))

1
None
{2, 5, 7}
None

In [ ]:
# dictionary
d = {
    1 : "One",
    2 : "two"
}

print(d[1]) # values can only be accessed by keys.

One

In [ ]:
d[2] = "Two"
print(d)   # updates the value of key if present.

d[3] = "Three"
print(d)   # else inserts a new key value pair.

{1: 'One', 2: 'Two'}
{1: 'One', 2: 'Two', 3: 'Three'}

In [23]:
# count the number of each character in a string by using a dictionary.

s = "Hello World"
ch_count = {}

for ch in s.lower():
    if ch in ch_count:
        ch_count[ch] += 1
    else:
        ch_count[ch] = 1

print(ch_count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
s = """
Your Excellency, Honourable President,
Distinguished delegates from both nations,
Friends from the media,

Namaskar!
Kalimera!

At the very outset, I extend my heartfelt gratitude to the Honourable President for the warm welcome and gracious hospitality. Since the moment I set foot on the soil of Cyprus yesterday, the warmth and affection shown by the President and the people of this country have truly touched my heart.

A short while ago, I was conferred with a prestigious honour by Cyprus. This accolade is not mine alone  it is a tribute to the 140 crore Indians. It symbolises the enduring friendship between India and Cyprus. I express my sincere thanks, once again, for this honour.

Friends,

We attach great importance to our relations with Cyprus. Our shared commitment to values such as democracy and the rule of law forms the strong foundation of our partnership. The friendship between India and Cyprus is not one that has emerged out of circumstances, nor is it confined by borders.

It has withstood the test of time, again and again. In every era, we have upheld the spirit of cooperation, respect and mutual support. We honour each others sovereignty and territorial integrity.

Friends,

This visit marks the first by an Indian Prime Minister to Cyprus in over two decades. It presents a golden opportunity to script a new chapter in our bilateral relations. Today, the Honourable President and I held extensive discussions on all aspects of our partnership.

There are many similarities between Cypruss Vision 2035 and our vision of a Viksit Bharat 2047. Therefore, we shall work together to shape our shared future. To provide strategic direction to our partnership, we will develop a concrete roadmap for the next five years.

To further strengthen our defence and security cooperation, the bilateral Defence Cooperation Programme will focus on defence industry collaboration. Separate dialogues will be initiated on cyber and maritime security.

We are deeply grateful to Cyprus for its consistent support of Bharats fight against cross-border terrorism. To combat terrorism, drug trafficking and arms smuggling, a mechanism will be established for real-time information exchange between our respective agencies. We both agree that there is immense potential in enhancing bilateral trade and investment.

Yesterday, during my interaction with the Honourable President, I sensed great enthusiasm and synergy within the business community regarding our economic ties. We are working towards concluding a mutually beneficial India-EU Free Trade Agreement by the end of the year.

This year, the India-Cyprus-Greece Business and Investment Council has also been launched. Such initiatives will boost bilateral trade and investment between our countries.

We also held detailed discussions on expanding cooperation in areas such as technology, innovation, health, agriculture, renewable energy, and climate justice. We are encouraged by the growing popularity of yoga and Ayurveda in Cyprus.

Cyprus is a preferred destination for Indian tourists as well. We shall work towards establishing direct air connectivity to facilitate their travel. We have resolved to expedite the finalisation of a Mobility Agreement.

Friends,

Within the European Union, Cyprus is our trusted partner. We extend our best wishes for Cypruss upcoming Presidency of the European Union next year. We are confident that, under your leadership, India-EU relations will reach new heights.

Both nations share common views on the need to reform the United Nations to make it more representative. We are grateful to Cyprus for its support of Bharats bid for permanent membership in the UN Security Council.

We have expressed concern over ongoing conflicts in West Asia and Europe. The adverse impact of these conflicts is not limited to their respective regions alone. We both agree that this is not an era of war.

Dialogue and the restoration of stability are the calls of humanity. We also discussed enhancing connectivity with the Mediterranean region. We concur that the India-Middle East-Europe Economic Corridor will pave the way for peace and prosperity in the region.

Honourable President,

I extend a cordial invitation to you to visit Bharat. I look forward to the opportunity of welcoming you to Bharat at the earliest.

Once again, I sincerely thank you for the exceptional hospitality and honour.
"""

In [ ]:
word_count = {}

for word in s.lower().split():
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print(word_count)

{'your': 2, 'excellency,': 1, 'honourable': 5, 'president,': 3, 'distinguished': 1, 'delegates': 1, 'from': 2, 'both': 4, 'nations,': 1, 'friends': 1, 'the': 42, 'media,': 1, 'namaskar!': 1, 'kalimera!': 1, 'at': 2, 'very': 1, 'outset,': 1, 'i': 9, 'extend': 3, 'my': 4, 'heartfelt': 1, 'gratitude': 1, 'to': 22, 'president': 3, 'for': 11, 'warm': 1, 'welcome': 1, 'and': 24, 'gracious': 1, 'hospitality.': 1, 'since': 1, 'moment': 1, 'set': 1, 'foot': 1, 'on': 6, 'soil': 1, 'of': 20, 'cyprus': 7, 'yesterday,': 2, 'warmth': 1, 'affection': 1, 'shown': 1, 'by': 6, 'people': 1, 'this': 6, 'country': 1, 'have': 4, 'truly': 1, 'touched': 1, 'heart.': 1, 'a': 12, 'short': 1, 'while': 1, 'ago,': 1, 'was': 1, 'conferred': 1, 'with': 4, 'prestigious': 1, 'honour': 2, 'cyprus.': 4, 'accolade': 1, 'is': 9, 'not': 4, 'mine': 1, 'alone': 1, '': 1, 'it': 6, 'tribute': 1, '140': 1, 'crore': 1, 'indians.': 1, 'symbolises': 1, 'enduring': 1, 'friendship': 2, 'between': 5, 'india': 2, 'express': 1, 'sincere': 1, 'thanks,': 1, 'once': 2, 'again,': 2, 'honour.': 2, 'friends,': 3, 'we': 19, 'attach': 1, 'great': 2, 'importance': 1, 'our': 14, 'relations': 2, 'shared': 2, 'commitment': 1, 'values': 1, 'such': 3, 'as': 3, 'democracy': 1, 'rule': 1, 'law': 1, 'forms': 1, 'strong': 1, 'foundation': 1, 'partnership.': 2, 'one': 1, 'that': 4, 'has': 3, 'emerged': 1, 'out': 1, 'circumstances,': 1, 'nor': 1, 'confined': 1, 'borders.': 1, 'withstood': 1, 'test': 1, 'time,': 1, 'again': 1, 'again.': 1, 'in': 9, 'every': 1, 'era,': 1, 'upheld': 1, 'spirit': 1, 'cooperation,': 2, 'respect': 1, 'mutual': 1, 'support.': 1, 'each': 1, 'others': 1, 'sovereignty': 1, 'territorial': 1, 'integrity.': 1, 'visit': 2, 'marks': 1, 'first': 1, 'an': 2, 'indian': 2, 'prime': 1, 'minister': 1, 'over': 2, 'two': 1, 'decades.': 1, 'presents': 1, 'golden': 1, 'opportunity': 2, 'script': 1, 'new': 2, 'chapter': 1, 'bilateral': 4, 'relations.': 1, 'today,': 1, 'held': 2, 'extensive': 1, 'discussions': 2, 'all': 1, 'aspects': 1, 'there': 2, 'are': 7, 'many': 1, 'similarities': 1, 'cypruss': 2, 'vision': 1, '2035': 1, 'vision': 1, 'viksit': 1, 'bharat': 2, '2047.': 1, 'therefore,': 1, 'shall': 2, 'work': 2, 'together': 1, 'shape': 1, 'future.': 1, 'provide': 1, 'strategic': 1, 'direction': 1, 'partnership,': 1, 'will': 7, 'develop': 1, 'concrete': 1, 'roadmap': 1, 'next': 2, 'five': 1, 'years.': 1, 'further': 1, 'strengthen': 1, 'defence': 3, 'security': 2, 'cooperation': 2, 'programme': 1, 'focus': 1, 'industry': 1, 'collaboration.': 1, 'separate': 1, 'dialogues': 1, 'be': 2, 'initiated': 1, 'cyber': 1, 'maritime': 1, 'security.': 1, 'deeply': 1, 'grateful': 2, 'its': 2, 'consistent': 1, 'support': 2, 'bharats': 2, 'fight': 1, 'against': 1, 'cross-border': 1, 'terrorism.': 1, 'combat': 1, 'terrorism,': 1, 'drug': 1, 'trafficking': 1, 'arms': 1, 'smuggling,': 1, 'mechanism': 1, 'established': 1, 'real-time': 1, 'information': 1, 'exchange': 1, 'respective': 2, 'agencies.': 1, 'agree': 2, 'immense': 1, 'potential': 1, 'enhancing': 2, 'trade': 3, 'investment.': 1, 'during': 1, 'interaction': 1, 'sensed': 1, 'enthusiasm': 1, 'synergy': 1, 'within': 2, 'business': 2, 'community': 1, 'regarding': 1, 'economic': 2, 'ties.': 1, 'working': 1, 'towards': 2, 'concluding': 1, 'mutually': 1, 'beneficial': 1, 'india-eu': 2, 'free': 1, 'agreement': 1, 'end': 1, 'year.': 2, 'year,': 1, 'india-cyprus-greece': 1, 'investment': 2, 'council': 1, 'also': 3, 'been': 1, 'launched.': 1, 'initiatives': 1, 'boost': 1, 'countries.': 1, 'detailed': 1, 'expanding': 1, 'areas': 1, 'technology,': 1, 'innovation,': 1, 'health,': 1, 'agriculture,': 1, 'renewable': 1, 'energy,': 1, 'climate': 1, 'justice.': 1, 'encouraged': 1, 'growing': 1, 'popularity': 1, 'yoga': 1, 'ayurveda': 1, 'preferred': 1, 'destination': 1, 'tourists': 1, 'well.': 1, 'establishing': 1, 'direct': 1, 'air': 1, 'connectivity': 2, 'facilitate': 1, 'their': 2, 'travel.': 1, 'resolved': 1, 'expedite': 1, 'finalisation': 1, 'mobility': 1, 'agreement.': 1, 'european': 2, 'union,': 1, 'trusted': 1, 'partner.': 1, 'best': 1, 'wishes': 1, 'upcoming': 1, 'presidency': 1, 'union': 1, 'confident': 1, 'that,': 1, 'under': 1, 'leadership,': 1, 'reach': 1, 'heights.': 1, 'nations': 2, 'share': 1, 'common': 1, 'views': 1, 'need': 1, 'reform': 1, 'united': 1, 'make': 1, 'more': 1, 'representative.': 1, 'bid': 1, 'permanent': 1, 'membership': 1, 'un': 1, 'council.': 1, 'expressed': 1, 'concern': 1, 'ongoing': 1, 'conflicts': 2, 'west': 1, 'asia': 1, 'europe.': 1, 'adverse': 1, 'impact': 1, 'these': 1, 'limited': 1, 'regions': 1, 'alone.': 1, 'era': 1, 'war.': 1, 'dialogue': 1, 'restoration': 1, 'stability': 1, 'calls': 1, 'humanity.': 1, 'discussed': 1, 'mediterranean': 1, 'region.': 2, 'concur': 1, 'india-middle': 1, 'east-europe': 1, 'corridor': 1, 'pave': 1, 'way': 1, 'peace': 1, 'prosperity': 1, 'cordial': 1, 'invitation': 1, 'you': 3, 'bharat.': 1, 'look': 1, 'forward': 1, 'welcoming': 1, 'earliest.': 1, 'sincerely': 1, 'thank': 1, 'exceptional': 1, 'hospitality': 1}

In [ ]:
copy_dict = word_count.copy()

for k in copy_dict:
    if word_count[k] < 7:
        word_count.pop(k)

print(word_count)

{'the': 42, 'i': 9, 'to': 22, 'for': 11, 'and': 24, 'of': 20, 'cyprus': 7, 'a': 12, 'is': 9, 'we': 19, 'our': 14, 'in': 9, 'are': 7, 'will': 7}

In [ ]:
# fromkeys() method is used to create a dict from an iterable
# and assigns null values to them.

s = "hello world"
char = dict.fromkeys(s)

print(char)

{'h': None, 'e': None, 'l': None, 'o': None, ' ': None, 'w': None, 'r': None, 'd': None}

In [ ]:
# .get() method is used to fetch a value but it allows us to set a default
# return value if not found.

num = {1: 'one', 2 : 'two', 3 : 'three'}

print(num.get(1))
print(num.get(5, "not found"))

one
not found

In [ ]:
# .setdefault allows us to set key value pairs only if they dont exist.
# if it exists then it doesn't update.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.setdefault(1, 999)
print(num)

num.setdefault(4, 'four')
print(num)

{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
# .items() returns a list of key value pairs in groups of tuples.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [ ]:
# .keys() returns a list of all keys.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.keys()

dict_keys([1, 2, 3])

In [ ]:
# .values() returns a list of all values.

num = {1: 'one', 2 : 'two', 3 : 'three'}

num.values()

dict_values(['one', 'two', 'three'])

In [ ]:
# .pop() removes and returns a random element.

num = {1: 'one', 2 : 'two', 3 : 'three'}

print(num.pop(3))
print(num)

three
{1: 'one', 2: 'two'}

In [ ]:
# .popitem() removes and returns a key-value pair in a tuple.

num = {1: 'one', 2 : 'two', 3 : 'three'}

print(num.popitem())

(3, 'three')

In [ ]:
num = {1: 'one', 2 : 'two', 3 : 'three'}

num.update({1: 'one', 2 : 'two', 3 : 'three', 4 : 'four'})
print(num)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [3]:
run = True

while run:
    d = float(input("enter a number: "))
    print(d * 2)
    run = bool(int(input("enter '0' to exist or any other number to continue: " )))

enter a number: 654.5
1309.0
enter '0' to exist or any other number to continue: 1
enter a number: 654
1308.0
enter '0' to exist or any other number to continue: 0

In [22]:
# In Python, iter() and next() are fundamental functions used to interact
# with iterators, which are objects that represent a stream of data and can
# be traversed one element at a time.

s = [101, 102, 103, 104]
i = iter(s)                # creates a manually iterable object.

print(next(i, "end"))      # next function retrieves the next value, and can take
print(next(i, "end"))      # a default value as any to avoid null error after the
print(next(i, "end"))      # iterable runs out of values.
print(next(i, "end"))
print(next(i, "end"))      # ran out of values.
print(next(i, "end"))      # ran out of values.

101
102
103
104
end
end