In [ ]:
a=10

In [ ]:
print (a)

In [ ]:
print (type(a))

In [ ]:
print (id(a))

In [ ]:
b = 103.4

In [ ]:
print (type(b))

In [ ]:
a = float(a)
print (type(a))

In [ ]:
c = "hello"
print (c)

In [ ]:
d = 1+0j

In [ ]:
print (type(d))

In [ ]:
e = None
print (type(e))

In [ ]:
f = True
print (type(f))

In [ ]:
15/4

In [ ]:
10+2

In [ ]:
13-4

In [ ]:
print (12*3)

In [ ]:
print (18//4)

In [ ]:
18%4

In [ ]:
a,b

In [ ]:
print("a+b=",a+b,sep="  ")
print("a-b=",a-b,sep="  ")
print("a*b=", a*b)
print ("a**b=",a**b, sep="  ")

In [ ]:
a

In [ ]:
a=a+2
print (a)

In [ ]:
a+=2
print(a)

In [ ]:
a-=2
print(a)

In [ ]:
a*=2
print (a)

In [ ]:
a/=2
print(a)

In [ ]:
a%=2
print (a)

In [ ]:
10==10

In [ ]:
'10'==10

In [ ]:
1 and 1

In [ ]:
bool(2 and "")

In [ ]:
bool(None)

In [ ]:
bool("")

In [ ]:
bool(0)

In [ ]:
bool({})

In [ ]:
bool([])

In [ ]:
1 and 0 or True

In [ ]:
1 or 0 and True

In [ ]:
4**2**3

In [ ]:
4**8

In [ ]:
not 1

In [ ]:
not True

In [ ]:
not 0

In [ ]:
7 & 8

In [ ]:
7|8

In [ ]:
0b1111

In [ ]:
0x1111

In [ ]:
0xf

In [ ]:
0o111

In [ ]:
0o1111

In [ ]:
~10

In [ ]:
~-11

In [ ]:
7^8

In [ ]:
8^8

In [ ]:
num = 10
if num>0:
    print ("POSITIVE")
    print (num)
else:
    print ("NEGATIVE")

In [ ]:
num = 10
if num>0:
    print ("POSITIVE")
       print (num)
    else:
    print ("NEGATIVE")

In [ ]:
num = 10
if num>0:

In [ ]:
num = 10
if num>0:
   pass

In [ ]:
7>>2

In [ ]:
7<<2

In [ ]:
if False:
    print ("true statement")
else:
    print ("false statement ")

In [ ]:
num = 114
if num%2:
    print (num," is odd")
else:
    print (num," is even")

In [ ]:
print (input("enter a number"))

In [ ]:
num = int(input('enter a number'))
print (type(num))

In [ ]:
num =  int(input('enter a number'))
if num%2:
    print (num," is odd")
else:
    print (num," is even")

In [ ]:
num =  int(input('enter a number'))
if num%2:
    print (num," is odd")
else:
    print (num," is even")

In [ ]:
chr(65)

In [ ]:
ord('A')

In [ ]:
ord('0')

In [ ]:
chr(9)

In [ ]:
print('It is "Python"')

In [ ]:
print ("it's python")

In [ ]:
print ('it\'s "python"')

In [ ]:
print ("it's \"python\"")

In [ ]:
print ("\\n is for new line")

In [ ]:
print ('it\'s "\\t" for tab space')

In [ ]:
print ("/home/quastech/yash/pytho.ipynb")

In [ ]:
print(r'\t\n')

In [ ]:
name = "Yash"
age = 21
salary = 20000

In [ ]:
print ("my name is",name, "i am",age,"years old and my salary is", salary )

In [ ]:
print(f"my name is {name}, i am {age}, years old and my salary is{salary}")

In [ ]:
print ("""hello
       hi
       """)

In [ ]:
age = 10
t = 0
if age > 12:
    t = 10
else:
    t = 5
print(t)

In [ ]:
age = 19
t = 10 if age>12 else 5
print(t)

In [ ]:
32+2

In [ ]:
num = 20
result= f"{num} is odd" if num%2 else f"{num} is even"
print(result)

In [ ]:
a=10
b=20
c=a
a=b
b=c
print (a,b)

In [ ]:
a=10
b=20
a,b=b,a
print (a,b)

In [ ]:
a=10
b=20
a=a+b
b=a-b
a=a-b
print(a,b)

In [ ]:
s = "Hello World"
s[5]

In [ ]:
s = 'Hello World'
s[0:11]

In [ ]:
s[:]

In [ ]:
s = "0123456789"
s[0:len(s):1]

In [ ]:
s[-1]

In [ ]:
s[::-1]

In [ ]:
print(s[0::2]) # print even indexes
print(s[1::2]) # print odd indexes
print(s[::-1]) # print in reverse

In [ ]:
print(s[5:1:-1])

In [ ]:
print(s[::-2]) # print odd indexes in reverse
print(s[-2::-2]) # print even indexes in reverse

In [ ]:
s = "abcdefghij" # practice
print(s[4::5])
print(s[::3])
print(s[5::-5])
print(s[7:0:-3])
print(s[:0:-4])

In [ ]:
# string methods

s = "Hello World"

print("uppercase:", s.upper())
print("lowercase:", s.lower())
print("title case:", s.title())
print("capitalised:", s.capitalize())
print("index of 'W':", s.index("W"))
print("found 'r' at:", s.find("r"))
print("count of 'l':", s.count("l"))
print("casefold:", s.casefold())
print("split using ' ':", s.split(" "))
print("replaced 'H' with 'j':", s.replace("H", "J"))
"=".join(['Hello', 'World', 'this', 'is', 'python'])

In [ ]:
# string methods

s = "            Hello        world             "

print("removed whitespace from left only:", s.lstrip())
print("removed whitespace from right only:", s.rstrip())
print("removed whitespace from both sides:", s.strip())

In [ ]:
# string methods

s = "apple"

ljust_text = s.ljust(10, "*")
rjust_text = s.rjust(10, "-")
center_text = s.center(50, "~")

print(ljust_text)
print(rjust_text)
print(center_text)

In [ ]:
# string methods

s = "hEllo WoRld"

print(s.swapcase())

In [ ]:
# string methods

s = "Hello\n World\n this is Python"

print(s.splitlines())

In [ ]:
# string methods

name = "Rohit"
age = 20
score = 123.123

sentence_1 = "Hi, I am {} and I am {} years old"
sentence_2 = "Hi, I am {var1} and I am {var2} years old"

print(sentence_1.format(name, age))
print(sentence_2.format(var1=name, var2=age))

In [ ]:
"hi""hello"

In [ ]:
"hi"+"hello"

In [ ]:
"Hi " * 3

In [ ]:
# string formatting

print("hi, i am %s and i am %d years old and i scored %.2f" % (name, age, score))
print(f"Score: {score:.2f}")

In [ ]:
# if-else

a, b = 10, 20

if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{b} is greater than {a}")

In [ ]:
# comparing 3 numbers using if-else

a, b, c = 40, 30, 20

if (a > b):
    if (a > c):
        print(f"{a} is greater than {b} and {c}")
else:
    if (b > c):
        print(f"{b} is greater than {a} and {c}")
    else:
        print(f"{c} is greater than {a} and {b}")

In [ ]:
# comparing 3 numbers using elif

a, b, c = 40, 30, 50

if (a > b) and (a > c):
    print(f"{a} is greater than {b} and {c}")
elif (b > c):
    print(f"{b} is greater than {a} and {c}")
else:
    print(f"{c} is greater than {a} and {b}")

In [ ]:
# switch case version in python

num = 3
match num:
    case 1:
        print("one")
    case 2:
        print("two")
    case 3:
        print("three")
    case _:
        print("not found")

In [ ]:
# for iterator

for i in "123":
    print("Hi!")

In [ ]:
for i in range(10):
    print("hi!", i)

In [ ]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

In [ ]:
i = 0

while (i < 4):
    print(i)
    i += 1

In [ ]:
# print a table of any number

snum = int(input("Enter a number: "))
i = 1
while i < 11:
    print(f"{num} x {i} = {num * i}")
    i += 1

In [ ]:
# DO NOT RUN THIS. IT WILL CRASH YOUR COMPUTER

# a = [1, 2]

# for i in a:
#     a.append(i + 1)

In [ ]:
print(a)

In [ ]:
# find certain characters and their index in a string
# 1. my way

s = "Python is a Programming language"
num = 0
for i in s.casefold():
    if i == 'g':
        print('g', num)
    if i == 'm':
        print('m', num)
    if i == 'p':
        print('p', num)
    num += 1

In [ ]:
# 2. using enumarate

s = "Python is a Programming language"

for index, ch in enumerate(s):
    if ch in "gmp":
        print(f"{ch} found at {index}")

In [ ]:
# 3a. using index to call for value (for loop)

s = "Python is a Programming language"

for i in range(len(s)):
    if s[i].lower() in "gmp":
        print(f"{s[i]} found at {i}")

P found at 0
P found at 12
g found at 15
m found at 18
m found at 19
g found at 22
g found at 27
g found at 30

In [ ]:
# 3b. using index to call for value (while loop)

s = "Python is a Programming language"
i = 0

while i < len(s):
    if s[i].lower() in "gmp":
        print(f"{s[i]} found at {i}")
    i += 1

P found at 0
P found at 12
g found at 15
m found at 18
m found at 19
g found at 22
g found at 27
g found at 30

In [ ]:
# 4. using external variable as an index

s = "Python is a Programming language"
index = 0

for ch in s.casefold():
    if ch in "gmp":
        print(f"{ch} found at {index}")
    index += 1

p found at 0
p found at 12
g found at 15
m found at 18
m found at 19
g found at 22
g found at 27
g found at 30

In [ ]:
# count the occurence of characters in a string

s = "Python is a Programming Language"

count = 0
ch_to_check = input('enter the char to count for:')

for ch in s:
    if ch_to_check.lower() == ch.lower():
        count += 1

print(f"{ch_to_check} occurred {count} times in the sentence.")

p occurred 2 times in the sentence.

In [2]:
# write a program to check if the string is a palindrome

s = input("Enter a string: ")

if s == s[::-1]:
    print(f"{s} is a palindrome")
else:
    print(f"{s} is not a palindrome")

Enter a string: racecar
racecar is a palindrome

In [3]:
# write a program to check if the string is a palindrome using basics

s_original = input("Enter a string: ")
s_reversed = ""

for ch in s_original:
    s_reversed = ch + s_reversed

if s_original == s_reversed:
    print(f"{s_original} is a palindrome")
else:
    print(f"{s_original} is not a palindrome")

Enter a string: racecar
racecar is a palindrome

In [ ]:
# write a program to check if the string is an anagram.

s1 = input("Enter a string: ")
s2 = input("Enter a string: ")

if sorted(s1) == sorted(s2):
    print(f"{s1} and {s2} are anagrams")
else:
    print(f"{s1} and {s2} are not anagrams")

In [5]:
# write a program to check if the string is an anagram using basics.

s1 = input("Enter a string: ")
s2 = input("Enter a string: ")
result = "Anagrams"

if len(s1) != len(s2):
  result = "Not Anagrams"

for i in range(len(s1)):
    if s1.count(s1[i]) != s2.count(s1[i]):
        result = "Not Anagrams"
        break

print(result)

Enter a string: listen
Enter a string: silent
Anagrams

In [ ]:
# write a program to check if the string is an anagram using dictionaries.

s1 = input("Enter the first string: ").lower()
s2 = input("Enter the second string: ").lower()

if len(s1) != len(s2):
    print(f"{s1} and {s2} are not anagrams")

char_count = {}

for ch in s1:
    char_count[ch] = char_count.get(ch, 0) + 1

is_anagram = True
for ch in s2:
    if ch not in char_count or char_count[ch] == 0:
        print(f"{s1} and {s2} are not anagrams")
        is_anagram = False
        break
    else:
        char_count[ch] -= 1

if is_anagram:
    print(f"{s1} and {s2} are anagrams")

Enter the first string: listen
Enter the second string: silent
listen and silent are anagrams

In [8]:
# write a program to count how many times each letter occured.

s = "Hello World!"

for ch in s.lower():
  count = 0
  for i in s.lower():
    if i == ch:
      count += 1
  print(f"{ch} occured {count} times")

h occured 1 times
e occured 1 times
l occured 3 times
l occured 3 times
o occured 2 times
  occured 1 times
w occured 1 times
o occured 2 times
r occured 1 times
l occured 3 times
d occured 1 times
! occured 1 times

# Non Primitive Data

In [12]:
# LISTS

a = []
print(type(a))

<class 'list'>

In [13]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
c = [1, 'a', 2, 'b']

print(a, b, c)

[1, 2, 3] ['a', 'b', 'c'] [1, 'a', 2, 'b']

In [15]:
a = list("abc"+"123")
a

['a', 'b', 'c', '1', '2', '3']

In [17]:
my_list = [1, 1.5, "Hello", True, None, 2 + 3j, [1, 2, 3],
           (1, 2, 3), {1, 2, 3}, {1 : "one", 2 : "two"},
           print, tuple]
my_list

[1,
 1.5,
 'Hello',
 True,
 None,
 (2+3j),
 [1, 2, 3],
 (1, 2, 3),
 {1, 2, 3},
 {1: 'one', 2: 'two'},
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 tuple]

In [19]:
print(my_list[10])

<built-in function print>

In [20]:
my_list[10]("Hello World, this calls the print function")

Hello World, this calls the print function

In [22]:
my_list[6][1] # 6th index has a list [1, 2, 3] and it's 1st index holds a value of 2.

2