In [1]:
import pandas as pd  # Import the popular pandas library for data analysis

In [ ]:
# Read tabular data from the system clipboard into a pandas DataFrame
df = pd.read_clipboard()

,Name,Maths 1,Maths 2,Physics,Chemistry 1,Chemistry 2,English,Computer Science 1,Computer Science 2,Environmental Studies
0,rohit,66,82,43,86,85,69,44,72,69
1,aakash,60,82,54,98,45,69,97,41,75
2,yash,79,68,49,83,65,54,62,58,82
4,ankit,94,45,47,69,57,93,47,67,43
6,kamlesh,98,80,51,59,49,70,72,96,47

In [ ]:
import mysql.connector as connection  # Import MySQL connector library for database connections
import pandas as pd  # Import pandas library for data handling

# Connect to the MySQL database using connection parameters
mydb = connection.connect(
    host="localhost",
    database="swapnalidb",
    user="root",
    passwd="root",
    use_pure=True
)

# Define your SQL query to select all records from the 'payrecord' table
query = "Select * from payrecord;"

# Execute the SQL query and load result directly into a pandas DataFrame
result_dataframe = pd.read_sql(query, mydb)

# Close the database connection
mydb.close()

# Display the DataFrame with query results
result_dataframe

/tmp/ipykernel_3450/4151540532.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_dataframe = pdtry.read_sql(query, mydb)

   pid             cname pmode   fees   paid  balance_fees      Doc
0  101   Web-Development   UPI  40000  40000             0  6 Month
1  102  Fullstack python  cash  25000  20000          5000  6 Month
2  103    Fullstack Java   UPI  36000  30000          6000  6 Month
3  104  Software testing  cash  25000  10000         15000  6 Month
4  105  Software testing   UPI  25000  25000             0  6 Month

In [2]:
import pandas as pd  # Import pandas library for data analysis

# Read a CSV file into a pandas DataFrame
df = pd.read_csv("../python/files/csv/dummyjson_full.csv")

# Display the DataFrame
df

,id,title,description,category,price,discountPercentage,rating,stock,tags,brand,...,availabilityStatus,reviews,returnPolicy,minimumOrderQuantity,meta_createdAt,meta_updatedAt,meta_barcode,meta_qrCode,images,thumbnail
0,1,Essence Mascara Lash Princess,The Essence Mascara Lash Princess is a popular...,beauty,9.99,10.48,2.56,99,"['beauty', 'mascara']",Essence,...,In Stock,"[{'rating': 3, 'comment': 'Would not recommend...",No return policy,48,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,5784719087687,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/bea...,https://cdn.dummyjson.com/product-images/beaut...
1,2,Eyeshadow Palette with Mirror,The Eyeshadow Palette with Mirror offers a ver...,beauty,19.99,18.19,2.86,34,"['beauty', 'eyeshadow']",Glamour Beauty,...,In Stock,"[{'rating': 5, 'comment': 'Great product!', 'd...",7 days return policy,20,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,9170275171413,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/bea...,https://cdn.dummyjson.com/product-images/beaut...
2,3,Powder Canister,The Powder Canister is a finely milled setting...,beauty,14.99,9.84,4.64,89,"['beauty', 'face powder']",Velvet Touch,...,In Stock,"[{'rating': 4, 'comment': 'Would buy again!', ...",No return policy,22,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,8418883906837,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/bea...,https://cdn.dummyjson.com/product-images/beaut...
3,4,Red Lipstick,The Red Lipstick is a classic and bold choice ...,beauty,12.99,12.16,4.36,91,"['beauty', 'lipstick']",Chic Cosmetics,...,In Stock,"[{'rating': 4, 'comment': 'Great product!', 'd...",7 days return policy,40,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,9467746727219,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/bea...,https://cdn.dummyjson.com/product-images/beaut...
4,5,Red Nail Polish,The Red Nail Polish offers a rich and glossy r...,beauty,8.99,11.44,4.32,79,"['beauty', 'nail polish']",Nail Couture,...,In Stock,"[{'rating': 2, 'comment': 'Poor quality!', 'da...",No return policy,22,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,4063010628104,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/bea...,https://cdn.dummyjson.com/product-images/beaut...
5,6,Calvin Klein CK One,CK One by Calvin Klein is a classic unisex fra...,fragrances,49.99,1.89,4.37,29,"['fragrances', 'perfumes']",Calvin Klein,...,In Stock,"[{'rating': 2, 'comment': 'Very disappointed!'...",90 days return policy,9,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,2451534060749,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/fra...,https://cdn.dummyjson.com/product-images/fragr...
6,7,Chanel Coco Noir Eau De,Coco Noir by Chanel is an elegant and mysterio...,fragrances,129.99,16.51,4.26,58,"['fragrances', 'perfumes']",Chanel,...,In Stock,"[{'rating': 4, 'comment': 'Highly impressed!',...",No return policy,1,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,4091737746820,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/fra...,https://cdn.dummyjson.com/product-images/fragr...
7,8,Dior J'adore,J'adore by Dior is a luxurious and floral frag...,fragrances,89.99,14.72,3.80,98,"['fragrances', 'perfumes']",Dior,...,In Stock,"[{'rating': 5, 'comment': 'Great value for mon...",7 days return policy,10,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,1445086097250,https://cdn.dummyjson.com/public/qr-code.png,"[""https://cdn.dummyjson.com/product-images/fra...",https://cdn.dummyjson.com/product-images/fragr...
8,9,Dolce Shine Eau de,Dolce Shine by Dolce & Gabbana is a vibrant an...,fragrances,69.99,0.62,3.96,4,"['fragrances', 'perfumes']",Dolce & Gabbana,...,Low Stock,"[{'rating': 4, 'comment': 'Would buy again!', ...",7 days return policy,2,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,3023868210708,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/fra...,https://cdn.dummyjson.com/product-images/fragr...
9,10,Gucci Bloom Eau de,Gucci Bloom by Gucci is a floral and captivati...,fragrances,79.99,14.39,2.74,91,"['fragrances', 'perfumes']",Gucci,...,In Stock,"[{'rating': 1, 'comment': 'Very dissatisfied!'...",No return policy,2,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,3170832177880,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/fra...,https://cdn.dummyjson.com/product-images/fragr...
10,11,Annibale Colombo Bed,The Annibale Colombo Bed is a luxurious and el...,furniture,1899.99,8.57,4.77,88,"['furniture', 'beds']",Annibale Colombo,...,In Stock,"[{'rating': 2, 'comment': 'Would not recommend...",No return policy,1,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,3610757456581,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/fur...,https://cdn.dummyjson.com/product-images/furni...
11,12,Annibale Colombo Sofa,The Annibale Colombo Sofa is a sophisticated a...,furniture,2499.99,14.40,3.92,60,"['furniture', 'sofas']",Annibale Colombo,...,In Stock,"[{'rating': 3, 'comment': 'Very unhappy with m...",7 days return policy,1,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,1777662847736,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/fur...,https://cdn.dummyjson.com/product-images/furni...
12,13,Bedside Table African Cherry,The Bedside Table in African Cherry is a styli...,furniture,299.99,19.09,2.87,64,"['furniture', 'bedside tables']",Furniture Co.,...,In Stock,"[{'rating': 4, 'comment': 'Excellent quality!'...",7 days return policy,3,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,6441287925979,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/fur...,https://cdn.dummyjson.com/product-images/furni...
13,14,Knoll Saarinen Executive Conference Chair,The Knoll Saarinen Executive Conference Chair ...,furniture,499.99,2.01,4.88,26,"['furniture', 'office chairs']",Knoll,...,In Stock,"[{'rating': 2, 'comment': 'Waste of money!', '...",60 days return policy,5,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,8919386859966,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/fur...,https://cdn.dummyjson.com/product-images/furni...
14,15,Wooden Bathroom Sink With Mirror,The Wooden Bathroom Sink with Mirror is a uniq...,furniture,799.99,8.80,3.59,7,"['furniture', 'bathroom']",Bath Trends,...,Low Stock,"[{'rating': 4, 'comment': 'Fast shipping!', 'd...",60 days return policy,2,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,1958104402873,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/fur...,https://cdn.dummyjson.com/product-images/furni...
15,16,Apple,"Fresh and crisp apples, perfect for snacking o...",groceries,1.99,12.62,4.19,8,['fruits'],NaN,...,In Stock,"[{'rating': 5, 'comment': 'Very satisfied!', '...",90 days return policy,7,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,7962803553314,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
16,17,Beef Steak,"High-quality beef steak, great for grilling or...",groceries,12.99,9.61,4.47,86,['meat'],NaN,...,In Stock,"[{'rating': 3, 'comment': 'Would not recommend...",60 days return policy,43,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,5640063409695,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
17,18,Cat Food,Nutritious cat food formulated to meet the die...,groceries,8.99,9.58,3.13,46,"['pet supplies', 'cat food']",NaN,...,In Stock,"[{'rating': 3, 'comment': 'Would not recommend...",No return policy,18,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,1483991328610,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
18,19,Chicken Meat,"Fresh and tender chicken meat, suitable for va...",groceries,9.99,13.70,3.19,97,['meat'],NaN,...,In Stock,"[{'rating': 5, 'comment': 'Great product!', 'd...",7 days return policy,22,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,8829514594521,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
19,20,Cooking Oil,"Versatile cooking oil suitable for frying, sau...",groceries,4.99,9.33,4.80,10,['cooking essentials'],NaN,...,In Stock,"[{'rating': 5, 'comment': 'Very happy with my ...",30 days return policy,46,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,4874727824518,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
20,21,Cucumber,"Crisp and hydrating cucumbers, ideal for salad...",groceries,1.49,0.16,4.07,84,['vegetables'],NaN,...,In Stock,"[{'rating': 4, 'comment': 'Great product!', 'd...",7 days return policy,2,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,5300066378225,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
21,22,Dog Food,Specially formulated dog food designed to prov...,groceries,10.99,10.27,4.55,71,"['pet supplies', 'dog food']",NaN,...,In Stock,"[{'rating': 5, 'comment': 'Excellent quality!'...",60 days return policy,43,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,5906686116469,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
22,23,Eggs,"Fresh eggs, a versatile ingredient for baking,...",groceries,2.99,11.05,2.53,9,['dairy'],NaN,...,In Stock,"[{'rating': 3, 'comment': 'Disappointing produ...",No return policy,32,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,3478638588469,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
23,24,Fish Steak,"Quality fish steak, suitable for grilling, bak...",groceries,14.99,4.23,3.78,74,['seafood'],NaN,...,In Stock,"[{'rating': 2, 'comment': 'Would not buy again...",60 days return policy,50,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,9595036192098,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
24,25,Green Bell Pepper,"Fresh and vibrant green bell pepper, perfect f...",groceries,1.29,0.16,3.25,33,['vegetables'],NaN,...,In Stock,"[{'rating': 4, 'comment': 'Highly recommended!...",30 days return policy,12,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,2365227493323,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
25,26,Green Chili Pepper,"Spicy green chili pepper, ideal for adding hea...",groceries,0.99,1.00,3.66,3,['vegetables'],NaN,...,Low Stock,"[{'rating': 4, 'comment': 'Great product!', 'd...",30 days return policy,39,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,9335000538563,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
26,27,Honey Jar,"Pure and natural honey in a convenient jar, pe...",groceries,6.99,14.40,3.97,34,['condiments'],NaN,...,In Stock,"[{'rating': 1, 'comment': 'Very disappointed!'...",90 days return policy,47,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,6354306346329,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
27,28,Ice Cream,"Creamy and delicious ice cream, available in v...",groceries,5.49,8.69,3.39,27,['desserts'],NaN,...,In Stock,"[{'rating': 5, 'comment': 'Very pleased!', 'da...",No return policy,42,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,788954559076,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
28,29,Juice,"Refreshing fruit juice, packed with vitamins a...",groceries,3.99,12.06,3.94,50,['beverages'],NaN,...,In Stock,"[{'rating': 5, 'comment': 'Excellent quality!'...",No return policy,25,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,6936112580956,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...
29,30,Kiwi,"Nutrient-rich kiwi, perfect for snacking or ad...",groceries,2.49,15.22,4.93,99,['fruits'],NaN,...,In Stock,"[{'rating': 4, 'comment': 'Highly recommended!...",7 days return policy,30,2025-04-30T09:41:02.053Z,2025-04-30T09:41:02.053Z,2530169917252,https://cdn.dummyjson.com/public/qr-code.png,['https://cdn.dummyjson.com/product-images/gro...,https://cdn.dummyjson.com/product-images/groce...

In [3]:
import pandas as pd  # Import pandas library for data analysis

# Create a list of lists, each sublist contains a name and age
d = [
    ['rohit', 20],
    ['yash', 21],
    ['aakash', 21]
]

# Convert the list of lists into a pandas DataFrame with column names 'name' and 'age'
df = pd.DataFrame(d, columns=['name', 'age'])

# Display the DataFrame
df

     name  age
0   rohit   20
1    yash   21
2  aakash   21

In [5]:
import numpy as np  # Import NumPy for numerical operations
import pandas as pd  # Import pandas for data manipulation

# Create a dictionary with student names and their random scores in various subjects
data = {
    'Name': ['rohit', 'aakash', 'yash', 'piyush', 'ankit', 'ashutosh', 'kamlesh', 'himanshu'],
    'Maths 1': np.random.randint(40, 100, 8),            # Random integers between 40 and 99 for 8 students
    'Maths 2': np.random.randint(40, 100, 8),
    'Physics': np.random.randint(40, 100, 8),
    'Chemistry 1': np.random.randint(40, 100, 8),
    'Chemistry 2': np.random.randint(40, 100, 8),
    'English': np.random.randint(40, 100, 8),
    'Computer Science 1': np.random.randint(40, 100, 8),
    'Computer Science 2': np.random.randint(40, 100, 8),
    'Environmental Studies': np.random.randint(40, 100, 8),
}

# Convert the dictionary into a DataFrame where each key becomes a column
df = pd.DataFrame(data=data)
df

,Name,Maths 1,Maths 2,Physics,Chemistry 1,Chemistry 2,English,Computer Science 1,Computer Science 2,Environmental Studies
0,rohit,93,85,68,78,48,54,84,48,53
1,aakash,55,93,86,53,89,54,51,69,51
2,yash,78,89,42,97,42,51,68,80,56
3,piyush,47,90,98,83,67,95,52,81,81
4,ankit,66,50,86,64,52,69,61,98,66
5,ashutosh,54,90,63,66,96,63,50,50,91
6,kamlesh,78,85,76,60,90,89,60,69,80
7,himanshu,63,47,97,71,89,66,71,90,81

In [7]:
# Print total number of elements in the DataFrame (rows Ã— columns)
print(df.size)

# Print the number of dimensions of the DataFrame (always 2 for DataFrames)
print(df.ndim)

# Print the shape of the DataFrame as a tuple (number of rows, number of columns)
print(df.shape)

# Print the column names of the DataFrame
print(df.columns)

# Print a concise summary of the DataFrame including data types and non-null counts
print(df.info())  # Note: it is a method, so parentheses are required

80
2
(8, 10)
Index(['Name', 'Maths 1', 'Maths 2', 'Physics', 'Chemistry 1', 'Chemistry 2',
       'English', 'Computer Science 1', 'Computer Science 2',
       'Environmental Studies'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   8 non-null      object
 1   Maths 1                8 non-null      int32
 2   Maths 2                8 non-null      int32
 3   Physics                8 non-null      int32
 4   Chemistry 1            8 non-null      int32
 5   Chemistry 2            8 non-null      int32
 6   English                8 non-null      int32
 7   Computer Science 1     8 non-null      int32
 8   Computer Science 2     8 non-null      int32
 9   Environmental Studies  8 non-null      int32
dtypes: int32(9), object(1)
memory usage: 484.0+ bytes
None

In [ ]:
import numpy as np  # Import NumPy for numerical operations
import pandas as pd  # Import pandas for data manipulation

# Define a dictionary containing student names and their scores in various subjects
data = {
    'Name': ['rohit', 'aakash', 'yash', 'piyush', 'ankit', 'ashutosh', 'kamlesh', 'himanshu'],
    'Maths 1': np.random.randint(40, 100, 8),            # Random scores from 40 to 99 for 8 students
    'Maths 2': np.random.randint(40, 100, 8),
    'Physics': np.random.randint(40, 100, 8),
    'Chemistry 1': np.random.randint(40, 100, 8),
    'Chemistry 2': np.random.randint(40, 100, 8),
    'English': np.random.randint(40, 100, 8),
    'Computer Science 1': np.random.randint(40, 100, 8),
    'Computer Science 2': np.random.randint(40, 100, 8),
    'Environmental Studies': np.random.randint(40, 100, 8),
}

# Convert the dictionary to a pandas DataFrame, creating columns for each key
df = pd.DataFrame(data=data)

In [8]:
# Select and display the names of students who scored more than 60 in Physics
df[df['Physics'] > 60]['Name']

0       rohit
1      aakash
3      piyush
4       ankit
5    ashutosh
6     kamlesh
7    himanshu
Name: Name, dtype: object

In [ ]:
# Select rows where the Physics score is greater than 40 and less than 60
df[(df['Physics'] > 40) & (df['Physics'] < 60)]

,Name,Maths 1,Maths 2,Physics,Chemistry 1,Chemistry 2,English,Computer Science 1,Computer Science 2,Environmental Studies
0,rohit,66,82,43,86,85,69,44,72,69
1,aakash,60,82,54,98,45,69,97,41,75
2,yash,79,68,49,83,65,54,62,58,82
4,ankit,94,45,47,69,57,93,47,67,43
6,kamlesh,98,80,51,59,49,70,72,96,47

In [9]:
# Select rows where the Physics score is greater than 40 and less than 60
# using chained indexing, not recommended may lead to errors.
df[(df['Physics'] > 40)][(df['Physics'] < 60)]

,Name,Maths 1,Maths 2,Physics,Chemistry 1,Chemistry 2,English,Computer Science 1,Computer Science 2,Environmental Studies
2,yash,78,89,42,97,42,51,68,80,56

In [10]:
# Use pandas query method to select rows where 'Physics' score is > 70 and 'Maths 1' score is > 90
df.query("`Physics` > 70 & `Maths 1` > 90")

Empty DataFrame
Columns: [Name, Maths 1, Maths 2, Physics, Chemistry 1, Chemistry 2, English, Computer Science 1, Computer Science 2, Environmental Studies]
Index: []

In [11]:
# Generate descriptive statistics of the numerical columns in the DataFrame
df.describe()

,Maths 1,Maths 2,Physics,Chemistry 1,Chemistry 2,English,Computer Science 1,Computer Science 2,Environmental Studies
count,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
mean,66.750000,78.625000,77.000000,71.500000,71.625000,67.625000,62.125000,73.125000,69.875000
std,15.341354,18.799221,18.920888,14.071247,21.967102,16.387604,11.776945,17.779904,15.329127
min,47.000000,47.000000,42.000000,53.000000,42.000000,51.000000,50.000000,48.000000,51.000000
25%,54.750000,76.250000,66.750000,63.000000,51.000000,54.000000,51.750000,64.250000,55.250000
50%,64.500000,87.000000,81.000000,68.500000,78.000000,64.500000,60.500000,74.500000,73.000000
75%,78.000000,90.000000,88.750000,79.250000,89.250000,74.000000,68.750000,83.250000,81.000000
max,93.000000,93.000000,98.000000,97.000000,96.000000,95.000000,84.000000,98.000000,91.000000

In [12]:
import pandas as pd  # Import pandas library

# Create a pandas Series with names and custom index labels
names = pd.Series(
    ['rohit', 'yash', 'aakash', 'piyush'],  # List of values
    index=['a', 'b', 'c', 'd']              # Custom index labels
)

# Display the Series
names

a     rohit
b      yash
c    aakash
d    piyush
dtype: object

## FAKER

In [13]:
import pandas as pd  # Import pandas for data handling
import faker as fk   # Import Faker library for generating fake data

# Initialize Faker with English (India) and Gujarati (India) locales
fake = fk.Faker(["En_In", "Gu_In"])

# Generate a list of 10 fake names
name_list = [fake.name() for i in range(10)]

# Create a pandas Series from the generated names
# - Data: name_list  
# - Series name: "Name"  
# - Custom index: integers from 1001 to 1010
s_names = pd.Series(data=name_list, name="Name", index=range(1001, 1011))

# Display the Series
s_names

1001    Urishilla Khosla
1002     Balendra Saxena
1003     àª¶à«àª°à«€ àª¨à«€àª°àªµ àª•à«àª®àª¾àª°
1004        Unnati Naidu
1005        Indrajit Lad
1006         Amara Manne
1007          Ekbal Bava
1008         Yutika Dube
1009           àª¨à«‡àª¹àª¾ àª—àª¢àªµà«€
1010        Mason Pathak
Name: Name, dtype: object

In [14]:
# Generate a list of 10 fake, safe email addresses with the domain "gmail.com"
email_list = [fake.email(safe=True, domain="gmail.com") for i in range(10)]

# Create a pandas Series from the generated email addresses
# - Data: email_list
# - Series name: "Email"
# - Custom index: integers from 1001 to 1010
s_emails = pd.Series(data=email_list, name="Email", index=range(1001, 1011))

# Display the Series
s_emails

1001    deshmukhdarika@gmail.com
1002         wakeeta69@gmail.com
1003     prashadguneet@gmail.com
1004     pratyushmanne@gmail.com
1005        mohanfaqid@gmail.com
1006          maanas54@gmail.com
1007          elijah82@gmail.com
1008        mnojkumaar@gmail.com
1009             kml86@gmail.com
1010        gulatiekta@gmail.com
Name: Email, dtype: object

In [15]:
import pandas as pd  # Import pandas library

# Generate a pandas Series of 10 fake dates (strings) in 'dd-mm-yy' format
# Dates are randomly generated before '01-01-2000'
s_date = pd.Series(
    data=[
        fake.date(
            pattern='%d-%m-%y',
            end_datetime=pd.to_datetime('01-01-2000')
        )
        for i in range(10)
    ],
    index=range(1001, 1011)
)

# Display the Series
s_date

1001    23-11-78
1002    06-12-70
1003    14-07-84
1004    12-10-88
1005    23-08-80
1006    24-05-76
1007    20-09-80
1008    15-05-80
1009    28-12-98
1010    24-02-71
dtype: object

In [16]:
import pandas as pd  # Import pandas for data manipulation

# Create a DataFrame from three pandas Series: names, emails, and dates of birth (DOB)
df = pd.DataFrame(
    data={
        'Name': s_names,    # Series of fake names with index 1001-1010
        'Email': s_emails,  # Series of fake emails with same index
        'DOB': s_date       # Series of fake dates of birth with same index
    },
    index=s_names.index     # Use the same custom index as the 'Name' Series
)

# Display the DataFrame
df

                  Name                     Email       DOB
1001  Urishilla Khosla  deshmukhdarika@gmail.com  23-11-78
1002   Balendra Saxena       wakeeta69@gmail.com  06-12-70
1003   àª¶à«àª°à«€ àª¨à«€àª°àªµ àª•à«àª®àª¾àª°   prashadguneet@gmail.com  14-07-84
1004      Unnati Naidu   pratyushmanne@gmail.com  12-10-88
1005      Indrajit Lad      mohanfaqid@gmail.com  23-08-80
1006       Amara Manne        maanas54@gmail.com  24-05-76
1007        Ekbal Bava        elijah82@gmail.com  20-09-80
1008       Yutika Dube      mnojkumaar@gmail.com  15-05-80
1009         àª¨à«‡àª¹àª¾ àª—àª¢àªµà«€           kml86@gmail.com  28-12-98
1010      Mason Pathak      gulatiekta@gmail.com  24-02-71

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 1001 to 1010
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Email   10 non-null     object
 2   DOB     10 non-null     object
dtypes: object(3)
memory usage: 372.0+ bytes

In [17]:
# Convert the 'DOB' column in df from string format to pandas datetime objects
df['DOB'] = pd.to_datetime(df['DOB'])

# Display concise summary of the DataFrame including data types, non-null counts, and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 1001 to 1010
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Email   10 non-null     object
 2   DOB     10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 372.0+ bytes

C:\Users\HP\AppData\Local\Temp\ipykernel_13720\3437900594.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['DOB'] = pd.to_datetime(df['DOB'])

In [18]:
# Display the first 5 rows of the DataFrame (default)
df.head()

# Alternatively, display the first 2 rows by passing an argument to head()
# df.head(2)

                  Name                     Email        DOB
1001  Urishilla Khosla  deshmukhdarika@gmail.com 1978-11-23
1002   Balendra Saxena       wakeeta69@gmail.com 2070-06-12
1003   àª¶à«àª°à«€ àª¨à«€àª°àªµ àª•à«àª®àª¾àª°   prashadguneet@gmail.com 1984-07-14
1004      Unnati Naidu   pratyushmanne@gmail.com 1988-12-10
1005      Indrajit Lad      mohanfaqid@gmail.com 1980-08-23

In [19]:
# Display the last 3 rows of the DataFrame
df.tail(3)

              Name                 Email        DOB
1008   Yutika Dube  mnojkumaar@gmail.com 1980-05-15
1009     àª¨à«‡àª¹àª¾ àª—àª¢àªµà«€       kml86@gmail.com 1998-12-28
1010  Mason Pathak  gulatiekta@gmail.com 2071-02-24

In [20]:
import pandas as pd  # Import pandas for data manipulation
import faker as fk   # Import Faker library for generating fake data

# Initialize Faker with English (India) locale
fake = fk.Faker(['En_In'])

# Generate 100 fake first names
f_name_list = [fake.first_name() for i in range(100)]

# Generate 100 fake last names
l_name_list = [fake.last_name() for i in range(100)]

# Generate 100 fake email addresses with gmail.com domain
email_list = [fake.email(domain="gmail.com") for i in range(100)]

# Generate 100 fake phone numbers
contact_list = [fake.phone_number() for i in range(100)]

# Convert each list into a pandas Series
s_fname = pd.Series(data=f_name_list)
s_lname = pd.Series(data=l_name_list)
s_email = pd.Series(data=email_list)
s_contact = pd.Series(data=contact_list)

# Create a DataFrame by combining the Series as columns
df = pd.DataFrame(
    {
        'First Name': s_fname,
        'Last Name': s_lname,
        'Email ID': s_email,
        'Contact': s_contact
    }
)

# Display the resulting DataFrame
df

   First Name Last Name                  Email ID        Contact
0     Shaurya  Chaudhry       abhiram69@gmail.com    02935625473
1      Isaiah       Bir      hemabhagat@gmail.com  +911591968516
2        Kala  Dasgupta      yadavianne@gmail.com    04547640276
3       Vanya    Tandon       chasmum13@gmail.com     8152290498
4       Girik     Bassi      halderjeet@gmail.com     3965512859
..        ...       ...                       ...            ...
95     Ishita   Ganguly      raimanthan@gmail.com     1862092158
96      Qarin     Shere        bsanghvi@gmail.com  +910023804722
97       Sara    Shenoy  oommenbalendra@gmail.com     1373208290
98   Nachiket    Murthy      tristansha@gmail.com     5777252972
99    Praneel    Kurian       nigamliam@gmail.com     4567267154

[100 rows x 4 columns]

In [21]:
df.head(10)

  First Name Last Name                Email ID        Contact
0    Shaurya  Chaudhry     abhiram69@gmail.com    02935625473
1     Isaiah       Bir    hemabhagat@gmail.com  +911591968516
2       Kala  Dasgupta    yadavianne@gmail.com    04547640276
3      Vanya    Tandon     chasmum13@gmail.com     8152290498
4      Girik     Bassi    halderjeet@gmail.com     3965512859
5    William     Dixit  solankifitan@gmail.com     9083687250
6     Kamala    Pandit  mugdhacheema@gmail.com  +918325773216
7      Wishi   Narayan     tanveer00@gmail.com    02940977218
8      Aarav       Rai          craj@gmail.com     0172947527
9      Dhruv      Sami         qsaha@gmail.com    09487495146

In [22]:
df.tail(10)

   First Name Last Name                  Email ID        Contact
90      Pahal    Tailor     gardenilima@gmail.com  +914206640065
91    Bhavani      Mane     manthanbedi@gmail.com    01686437962
92     Unnati    Wadhwa       edhitha21@gmail.com  +915936418609
93   Gayathri     Desai       lavanya25@gmail.com     4738746737
94    Praneel      Kale         tsankar@gmail.com     0103442924
95     Ishita   Ganguly      raimanthan@gmail.com     1862092158
96      Qarin     Shere        bsanghvi@gmail.com  +910023804722
97       Sara    Shenoy  oommenbalendra@gmail.com     1373208290
98   Nachiket    Murthy      tristansha@gmail.com     5777252972
99    Praneel    Kurian       nigamliam@gmail.com     4567267154

In [25]:
# Filter the DataFrame to include only rows where the 'First Name' is 'Sara'
df[df['First Name'] == 'Sara']

   First Name Last Name                  Email ID     Contact
97       Sara    Shenoy  oommenbalendra@gmail.com  1373208290